{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        <br>
                        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550;">この度は会員登録依頼をいただきまして、有り難うございます。</div>
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Customer.name01 }} {{ Customer.name02 }} 様<br>
                            <br>
                            {{ BaseInfo.shop_name }}でございます。<br/>
                            現在は仮登録の状態です。<br/><br/>
                            本会員登録を完了するには下記URLにアクセスしてください。<br><br/>
                            <a href="{{ activateUrl }}">{{ activateUrl }}</a>
                            <br/>
                            <br/>
                            上記URLにて本会員登録が完了いたしましたら改めてご登録内容ご確認メールをお送り致します。
                            <br/>
                            <br/>
                            本メールは、伝索 DENSAKUより購入会員登録を希望された方にお送りしています。<br>もしお心当たりが無い場合は、その旨<a href="mailto:{{ BaseInfo.email02 }}" style="text-decoration:none;">{{ BaseInfo.email02 }}</a> までご連絡いただければ幸いです。<br><br>
                            ______________________________________________________________<br>
                           [運営会社]　株式会社マネジメントパートナーズ<br>
    　                      〒163-0713 東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階 <br>
    　                      TEL : 03-6911-3025　　FAX : 03-6911-3026 <br>
                            <a href="http://www.management-partners.co.jp"> http://www.management-partners.co.jp/ </a><br>
                        _______________________________________________________________


                        </div>
                    </td>
                </tr>
            </table>
            
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>