{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:5px;background-color:#ffffff;">
                        <br>
                        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">この度はご注文いただき誠にありがとうございます。</div>
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Order.name01 }} {{ Order.name02 }} 様<br/>
                            <br/>
                            下記ご注文内容にお間違えがないかご確認下さい。<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　ご請求金額<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            ご注文日時：{{ Order.create_date|date_sec }}<br/>
                            ご注文番号：{{ Order.order_no }}<br/>
                            お支払い合計：{{ Order.payment_total|price }}<br/>
                            お支払い方法：{{ Order.payment_method }}<br/>
                            {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                            ご利用ポイント：{{ Order.usePoint }} pt<br/>
                            {% endif %}
                            お問い合わせ：{{ Order.message }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　ご注文商品明細<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            {% for OrderItem in Order.MergedProductOrderItems %}
                                商品コード：{{ OrderItem.product_code }}<br/>
                                商品名：{{ OrderItem.product_name }}  {{ OrderItem.classcategory_name1 }}  {{ OrderItem.classcategory_name2 }}<br/>
                                小計：{{ OrderItem.total_price|price }}<br/>
                                数量：{{ OrderItem.quantity|number_format }}<br/>
                                <br/>
                            {% endfor %}
                            <hr style="border-top: 2px dashed #8c8b8b;">
                            小　計：{{ Order.subtotal|price }}<br/>
                            <br/>
                            手数料：{{ Order.charge|price }}<br/>
                            送　料：{{ Order.delivery_fee_total|price }}<br/>
                            {% if Order.discount > 0 %}
                                値引き：{{ (0 - Order.discount)|price }}<br/>
                            {% endif %}
                            <hr style="border-top: 1px dotted #8c8b8b;">
                            合　計：{{ Order.payment_total|price }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            ご注文者情報<br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            お名前：{{ Order.name01 }} {{ Order.name02 }} 様<br/>
                            お名前(カナ)：{{ Order.kana01 }} {{ Order.kana02 }} 様<br/>
                            {% if Order.company_name %}
                                会社名：{{ Order.company_name }}<br/>
                            {% endif %}
                            郵便番号：〒{{ Order.postal_code }}<br/>
                            住所：{{ Order.Pref.name }}{{ Order.addr01 }}{{ Order.addr02 }}<br/>
                            電話番号：{{ Order.phone_number }}<br/>
                            メールアドレス：{{ Order.email }}<br/>
                            <br/>
                            <hr style="border-top: 3px double #8c8b8b;">
                            　配送情報<br/>
                            <hr style="border-top: 3px double #8c8b8b;">

                            {% for Shipping in Order.Shippings %}
                                ◎お届け先{% if Order.multiple %}{{ loop.index }}{% endif %}<br/>
                                <br/>
                                お名前：{{ Shipping.name01 }} {{ Shipping.name02 }} 様<br/>
                                お名前(カナ)：{{ Shipping.kana01 }} {{ Shipping.kana02 }} 様<br/>
                                {% if Shipping.company_name %}
                                    会社名：{{ Shipping.company_name }}<br/>
                                {% endif %}
                                郵便番号：〒{{ Shipping.postal_code }}<br/>
                                住所：{{ Shipping.Pref.name }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}<br/>
                                電話番号：{{ Shipping.phone_number }}<br/>
                                <br/>
                                配送方法：ヤマト運輸<br/>
                                <br/>
                                {% for OrderItem in Shipping.productOrderItems %}
                                    商品コード：{{ OrderItem.product_code }}<br/>
                                    商品名：{{ OrderItem.product_name }}  {{ OrderItem.classcategory_name1 }}  {{ OrderItem.classcategory_name2 }}<br/>
                                    数量：{{ OrderItem.quantity|number_format }}<br/>
                                    <br/>
                                {% endfor %}
                            {% endfor %}
                            {% if Order.complete_mail_message is not empty %}
                                {{ Order.complete_mail_message|nl2br }}<br/>
                            {% endif %}
                            <hr style="border-top: 2px dotted #8c8b8b;">
                            後ほど弊社担当者よりメールにてご連絡を差し上げます。<br/><br/>
                            本メールは、伝索 DENSAKUより商品を購入された方にお送りしています。<br/>
                            もしお心当たりが無い場合は、その旨<a href="mailto:{{ BaseInfo.email02 }}" style="text-decoration:none;">{{ BaseInfo.email02 }}</a> までご連絡いただければ幸いです。<br/>
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td class="container-padding content footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:5px;background-color:#ffffff;">
                        <hr style="border-top: 1px solid #8c8b8b;">
                        [運営会社]　株式会社マネジメントパートナーズ<br/>
                        &nbsp;〒163-0713 東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階<br/>
                        &nbsp;TEL: 03-6911-3025　　FAX: 03-6911-3026<br/>
                        <div>&nbsp;http://www.management-partners.co.jp/</div>
                        <hr style="border-top: 1px solid #8c8b8b;">
                    </td>
                </tr>
            </table>
            <!--/600px container -->
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>