{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<br>
<br>
<div align="center"><a href="{{ url('homepage') }}" style="font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#333333;text-decoration:none;">{{ BaseInfo.shop_name }}</a></div>
<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
    <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color:#F0F0F0;border-collapse:collapse;">
            <br>
            <!-- 600px container (white background) -->
            <table id="html-mail-table1" border="0" width="600px" cellpadding="10" cellspacing="0" class="container" style="border-spacing:0;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                <tr>
                    <td class="container-padding content" align="left" style="border-collapse:collapse;padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff;">
                        <br>
                        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550;">商品を発送いたしました。</div>
                        <br>
                        <div class="body-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;">
                            {{ Shipping.name01 }} {{ Shipping.name02 }} 様<br>
                            <br>
                             この度は伝統工芸品検索販売サイト「伝索（デンサク）」を<br>
                            ご利用いただきまして、誠にありがとうございます。<br><br>
                            
                            ご注文いただいた商品を発送いたしましたので、お知らせいたします。<br><br>
                            
                            下記クロネコヤマトのサイトから<br>
                            お問合せ伝票番号での問い合わせができます。<br>
                            
                            【伝票番号】　****-****-****<br>
                            【配送会社】  ヤマト運輸<br>
                            　　　　    　　クロネコヤマトの荷物お問い合わせシステム<br><a href="http://toi.kuronekoyamato.co.jp/cgi-bin/tneko">    　　　　　　
                        http://toi.kuronekoyamato.co.jp/cgi-bin/tneko </a><br><br>

                            
                            ■お届けの際にご不在だった場合は、運送会社からの「不在票」をご確認のうえ<br>
                            　１週間以内にお受け取りくださいますようお願い申し上げます。<br><br>
                            
                            ■１週間以上お受け取りいただけない場合は発送店に返送となります。<br>
                            　なお、返送となった場合は返送に掛かる諸費用をご請求させていただきます。<br><br>
                            
                            ■お客様都合による受取拒否はご遠慮ください。<br>
                            　万が一、お客様都合による受取拒否をなされた場合、<br>
                            　商品代金及び配送・返送費用（実費）はご請求させていただきます。<br><br>

                            ===============================================================<br>
                            商品のお届けまでもうしばらお待ちくださいませ。<br>
                            この度は当店をご利用いただきまして誠にありがとうございました。<br>
                            ===============================================================<br><br>
                            
                            ご不明な点がありましたらご遠慮なくお問い合わせください。<br>

                            ■------------------------------------------------<br>
                                株式会社マネジメントパートナーズ<br>
                                伝索運営係　小橋創介（コハシソウスケ）<br>
                                〒163-0713 <br>
                                東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階<br>
                                TEL：03-6911-3025　/　FAX：03-6911-3026<br>
                                URL： <a href="https://www.den-saku.com/">https://www.den-saku.com/</a><br>
                                Mail：<a href="">s_kohashi@management-partners.co.jp</a>

                        </div>
                    </td>
                </tr>
            </table>
            <!--/600px container -->
            <br>
            <br>
           
            
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
<br>
<br>
</body>

</html>