{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/snow/let-it-snow.css') }}">
    <style>
        .pc {
            display: block;
        }
        .sp {
            display: none;
        }
        .ec-layoutRole{
            padding: 0 !important;
        }
        .ec-layoutRole .ec-layoutRole__contents{
            max-width: 100%;
        }
        .top_mv{
            width: 100%;
            margin: 0 auto;
            background: url("{{ asset('assets/img/main_bg.jpg') }}") no-repeat bottom center;
            background-size: cover;
            text-align: center;
            height: 100vh;
            min-height: 966px;
            position: relative;
            z-index: 4;
            padding: 100px 0 0 0;
        }
        .mv_center{
            position: relative;
            top: 50%;
            right: auto;
            left: auto;
            transform: translateY(-50%);
        }
        .mv_logo_content{
            position: relative;
        }
        .mv_table{
            display:flex;
            align-items: flex-end;
            justify-content: center;
            padding: 10px 20px;
            
        }
        .mv_table_l {
            margin-right: 55px;
        }
        .mv_table_r {
            text-align: right;
        }
        .mv_logo_content tr td{
            vertical-align: bottom;
            padding: 0 0 20px 0;
        }
        .mv_logo_content tr td:first-child{
            float: left;
            width: auto;
        }
        .mv_logo_content tr td:last-child{
             width: 50%;
            text-align: left;
        }
        .mv_logo{
            width: 70%;
            height: auto;
        }
        .mv_table a{
            text-align: left;
            text-decoration: none;
        }
        .mv_table a:hover{
            text-decoration: none;
        }
        .mv_table_txt_01{
            font-size: 28px;
            line-height: 1;
            color: #e2d07a;
            margin: 0 0 10px 0;
            font-family: Sawarabi Mincho;
        }
        .mv_table_txt_02{
            font-size: 64px;
            line-height: 1;
            color: #fff;
            margin: 0 0 10px 0;
            font-family: Sawarabi Mincho;
        }
        .mv_table_txt_03{
            font-size: 16px;
            line-height: 1;
            color: #e2d07a;
            text-align: right;
            margin: 0 0 10px 0;
            font-family: Roboto;
            font-weight: lighter;
        }
        .mv_table_txt_04{
            font-size: 24px;
            line-height: 1.3;
            color: #fff;
            margin: 0;
            display: inline-block;
        }
        .mv_table_txt_05{
            font-size: 56px;
            line-height: 1;
            color: #fff;
            margin: 0 0 0 25px;
            display: inline-block;
        }
        .mv_table_txt_06{
            font-size: 15px;
            line-height: 1;
             color: #e2d07a;
            margin: 0 0 10px 0;
            font-family: Roboto;
            font-weight: lighter;
            text-align: left;
        }
        .img_and_txt{
            position: relative;
            display: inline-block;
            margin: 0 0 10px 44px;
        }
        .img_ribbon{
            width: 75px;
            height: auto;
            position: absolute;
            top: 34px;
            left: 146px;
        }
        .mv_bg{
            background: rgba(0,0,0,.69);
            max-width: 1024px;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0 40px 0;
        }
        .top_mv_gift{
            width: 90%;
            height: auto;
            margin: 0 0 -3px 0;
        }
        .mv_logo_txt{
            font-size: 24px;
            line-height: 1;
            color: #fff;
            font-weight: normal;
            padding: 0;
            margin: 0;
            font-family: 'Sawarabi Mincho', sans-serif;
        }
        .customize_line{
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .customize_line li{
            width: 20%;
            float: left;
            list-style-type: none;
        }
        .line_red,
        .line_blue,
        .line_yellow,
        .line_green,
        .line_purple{
            content: "";
            background: #811200;
            color: red;
            width: 100%;
            height: 5px;
        }
        .line_blue{
            background: #001cff;
        }
        .line_yellow{
            background: #a78000;
        }
        .line_green{
            background: #3a7300;
        }
        .line_purple{
            background: #690081;
        }
        .mv_text{
            width: 95%;
            margin: 40px auto 0 auto;
            padding: 0;
        }
        .mv_text li{
            width: 50%;
            float: left;
            text-align: left;
        }
        .mv_text li:first-child{
            padding: 0 15px 0 0;
        }
        .mv_text li:last-child{
            padding: 0 0 0 15px;
        }
        .mv_text .mv_text_01{
            font-size: 22px;
            line-height: 1;
            color: #fff;
            border-bottom: 1px solid #fff;
            padding: 0 0 10px 0;
            margin: 0 15px 0 0;
        }
        .mv_text .mv_text_02{
            font-size: 18px;
            line-height: 1.5;
            color: #fff;
            margin: 13px 0 0 0;
        }
        .mv_text .mv_text_04{
            font-size: 13px;
            line-height: 2.3;
            color: #fff;
            margin: 5px 0 0 0;
        }
        .img_anni{
            position: absolute;
            left: 51px;
            top: 103px;
            width: 176px;
            height: auto;
        }
        /*mv_list*/
        .mv_list{
            width: 85%;
            margin: 30px auto 0 auto;
            max-width: 935px;
            padding: 0;
        }
        .mv_list li{
            float: left;
            width: 16.667%;
            list-style-type: none;
        }
        .mv_list .img_mv_list{
            width: 100%;
        }
        /*end of mv_list*/
        .scroll{
            display: inline-block;
            cursor: pointer;
        }
        .scroll:hover{
            text-decoration: underline solid #fff;
        }
        .icon_arrow_down{
            width: 20px;
            height: auto;
            margin: 10px 0 0 0;
        }
        .pagetop_ttl{
            font-size: 18px;
            line-height: 1;
            color: #fff;
            font-family: 'Sawarabi Mincho';
        }
        
        /*.search_field*/
        .search_field{
            /*background: rgba(88,100,0,.71);*/
            background: rgba(0,0,0,.69);
            padding: 15px 0;
            margin: 30px 0;
        }
        .search_field_ul{
            max-width: 965px;
            width: 95%;
            margin: 0 auto;
            padding: 0;
            position: relative;
            z-index: 999;
        }
        .search_field_ul li{
            width: 50%;
            float: left;
            list-style-type: none;
        }
        .search_customize{
            position: relative;
            display: inline-block;
            width: 80%;
            text-align: left;
            z-index: 2;
        }
        .search_field_prefecture,
        .search_field_prefecture_01{
            background: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .search_field_ul li .search{
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
            width: 380px;
            font-size: 16px;
            line-height: 1;
            color: #808080;
            padding: 12px 10px;
            border: none;
            border-radius: 5px;
        }
        .search_field .ec-headerSearch .ec-headerSearch__keyword{
            width: 380px;
            border-radius: 5px;
        }
        .search_field .ec-headerSearch .ec-headerSearch__keyword input[type="search"]{
            background: #fff;
        }
        .ec-headerSearch{
            display: inline-block;
        }
        .search_field_ul .ec-headerSearch .ec-headerSearch__keyword{
            float: none;
        }
        .detail_prefecture{
            position: absolute;
            top: 44px;
            left: 0;
            background: #fff;
            display: none;
            width: 225%;
            box-shadow: 1px 1px 10px rgba(0,0,0,.3);
        }
        .detail_prefecture_01{
            position: absolute;
            top: 44px;
            right: 0;
            background: #fff;
            display: none;
            width: 802px;
            box-shadow: 1px 1px 10px rgba(0,0,0,.3);
        }
        .prefecture_ttl_01{
            display: block;
            font-size: 16px;
            color: #808080;
            margin: 0;
            font-family: YuGothic;
        }
        .pref_title{
            font-size: 16px;
            line-height: 1;
            color: #000;
            margin-top: 10px;
            background-color: #eee;
            padding: 5px 10px;
            font-family: YuGothic;
        }
        .content_prefecture{
            padding: 20px;
        }
        .pref_category_list{
            padding: 0 0 0 10px;
            margin: 0;
        }
        .pref_category_list li{
            width: 20%;
        }
        .pref_category_list li a{
            font-size: 14px;
            line-height: 1;
            color: #000;
            display: inline-block;
            position: relative;
            padding: 7px 10px;
            font-family: YuGothic;
        }
        .pref_category_list li a:before{
            display: inline-block;
            font-family: fontAwesome;
            content: "\f0da";
            padding-right: 10px;
            position: absolute;
            left: 0;
        }
        .search_field_prefecture:after,
        .search_field_prefecture_01:after{ 
            content: "";
            border-bottom: 8px solid #808080;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            transform: rotate(180deg);
            position: absolute;
            top: 1em;
            right: 1em;
        }
        .search_field_prefecture.is-active:after,
        .search_field_prefecture_01.is-active:after{
            content: "";
            border-bottom: 8px solid #808080;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            transform: rotate(360deg);
        }
        .ec-sliderRole.seasonal {
            margin-bottom: 60px;
        }
        .online_subtitle .all {
            width: 105px;
        }
        /*end of .search_field*/
        @media only screen and (max-width: 1500px){
            .img_anni{
                display: none;
            }
        }
        @media only screen and (min-width: 768px) and (max-width: 850px){
            .mv_logo_content tr td:last-child{
                padding: 0 0 10px 3%;
            }
            .mv_text br {
                display: none;
            }
            .mv_table_txt_05{
                margin: 0;
                font-size: 54px;
            }
            .img_and_txt{
                margin: 0 0 10px 0;
            }
            .mv_table_l {
                margin-right: 45px;
            }
            .mv_table_r img {
                max-width: 350px;
            }
            .mv_table_txt_01{
            	font-size: 22pxm;
            }
            .mv_table_txt_02{
                font-size: 50px;
            }
            .customize_line {
                top: 19%;
            }
            .detail_prefecture_01 {
                width: 660px;
            }
            .pref_category_list li {
                width: auto;
                margin-right: 15px;
            }
        }
        @media only screen and (max-width: 1024px){
            .ec-layoutRole__header {
                margin-bottom: 0 !important;
            }
            .top_mv{
                height: auto;
                min-height: auto;
                padding: 170px 0  20px 0;
            }
            .mv_center {
                position: relative;
                top: 0;
                transform: translateY(0%); 
            }
        }
        
        @media only screen and (max-width: 767px){
            .pc {
                display: none;
            }
            .sp {
                display: block;
            }
            .top_mv{
                padding: 120px 0  20px 0;
            }
            .mv_bg {
                margin-top: 55px;
                padding: 0;
            }
            .sp_mv_txt {
                width: 100%;
                text-align: center;
            }
            .sp_mv_txt img {
                width: 80%;
            }
            .mv_logo_content tr td{
                padding: 0 0 .20rem 0;
            }
            .mv_logo_content tr td:last-child{
                padding: 0 0 .05rem 0;
            }
            .mv_table {
                display: none;
            }
            .mv_table a{
            	margin: 0 .25rem 0 0;
            }
            .mv_table_txt_01{
            	font-size: .22rem;
            	margin: 0 0 .10rem 0;
            }
            .mv_table_txt_02{
                font-size: .50rem;
                margin: 0 0 .10rem 0;
            }
            .mv_table_txt_03{
                font-size: .16rem;
                margin: 0 0 .10rem 0;
            }
            .mv_table_txt_04{
                font-size: .22rem;
            }
            .img_and_txt{
            	margin: 0;
            }
            .img_ribbon{
                width: .60rem;
                top: .32rem;
                left: 1.36rem;
            }
            .mv_table_txt_05{
                font-size: .41rem;
                margin: 0 0 .05rem 0;
            }
            .mv_table_txt_06{
                font-size: .16rem;
                margin: 0 0 .10rem 0;
            }
            .customize_line{
            	position: unset;
                margin-top: 13px;
            }
            .line_red, .line_blue, .line_yellow, .line_green, .line_purple {
                height: 3px;
            }
            .mv_text{
                width: 98%;
                margin: .40rem auto 0 auto;
            }
            .mv_text li:first-child{
                padding: 0 .10rem 0 0;
            }
            .mv_text li:last-child{
                padding: 0 0 0 .10rem;
            }
            .mv_text .mv_text_01{
                font-size: .20rem;
                padding: 0 0 .10rem 0;
                margin: 0;
            }
            .mv_text .mv_text_02{
                font-size: .18rem;
                margin: .13rem 0 0 0;
            }
            .mv_text .mv_text_04{
                font-size: .13rem;
                line-height: 2;
                margin: .05rem 0 0 0;
            }
            .search_field_ul{
                width: 100%;
            }
            .search_customize{
                width: 80%;
            }
            .prefecture_ttl_01{
                font-size: .14rem;
            }
            .search_field_prefecture,
            .search_field_prefecture_01{
                padding: .10rem;
                border: none;
                border-radius: .05rem;
                cursor: pointer;
            }
            .search_field_prefecture:after,
            .search_field_prefecture_01:after{ 
                content: "";
                border-bottom: .08rem solid #808080;
                border-left: .08rem solid transparent;
                border-right: .08rem solid transparent;
                transform: rotate(180deg);
                position: absolute;
                top: .12rem;
                right: .14rem;
            }
            .search_field_prefecture.is-active::after,
            .search_field_prefecture_01.is-active::after{
                border-bottom: .08rem solid #808080;
                border-left: .08rem solid transparent;
                border-right: .08rem solid transparent;
            }
            .detail_prefecture,
            .detail_prefecture_01{
                top: .38rem;
                width: 5.75rem;
            }
            .pref_title{
                font-size: .16rem;
                margin-top: .10rem;
                padding: .05rem .10rem;
            }
            .content_prefecture{
                padding: .20rem;
            }
            .pref_category_list{
                padding: 0 0 0 .10rem;
            }
            .pref_category_list li a{
                font-size: .16rem;
                padding: .07rem .10rem;
            }
            .pagetop_ttl{
                font-size: .18rem;
            }
            .icon_arrow_down {
                width: .20rem;
                margin: .10rem 0 0 0;
            }
        }
         @media only screen and (max-width: 414px){
             .sp_mv_txt img {
                max-width: 100%;
                width: auto;
            }
            .mv_bg {
                margin-top: 40px;
                padding: 0;
            }
            .online_subtitle_ttl_01, .online_subtitle .all {
                font-size: .25rem !important;
            }
            .ec-newItemRole .ec-newItemRole__listItemTitle {
                font-size: .2rem !important;
            }
            .ec-newItemRole .ec-newItemRole__listItemPrice {
                font-size: .16rem !important;
            }
         }
        
    </style>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/common_job.js') }}"></script>
    <script src="{{ asset('assets/js/snowfall/snowfall.min.js') }}"></script>
    <script>
        // snowFall.snow(document.body);
        $( document ).ready(function() {
            var width = $(window).width();
            if ( width >= 768) {
                 snowFall.snow(document.body, {image : "{{ asset('assets/img/img_sakura.png')}}", minSize: 10, maxSize:24 , flakeCount: 35,});
            }else {
                snowFall.snow(document.body, {image : "{{ asset('assets/img/img_sakura.png')}}", minSize: 8, maxSize:18 , flakeCount: 35,});
            }
        });
        
       
         </script>
    </script>
    
    {#For prefecture#}
    <script>
        jQuery(document).ready(function($) {
            $('#prefecture').change(function () { 
                var prefecture = $(this).val();
                $("#form1").submit();
            });
            
            $( ".search_field_prefecture, .search_field_prefecture_01" ).click(function(e) {
              $(this).toggleClass('is-active').next(".detail_prefecture, .detail_prefecture_01").stop().slideToggle( "slow" );
              e.stopPropagation();
            });
            
            $(document).click( function(){
                $(".detail_prefecture, .detail_prefecture_01").slideUp('slow');
            });
            $(".search_field_prefecture").click( function(){
                $(".detail_prefecture_01").hide();
            });
             $(".search_field_prefecture_01").click( function(){
                $(".detail_prefecture").hide();
            });
        });
    </script>
    {#end of prefecture#}
{% endblock javascript %}

{% block main %}
   
{% endblock %}