{#
This file is part of EC-CUBE
Copyright(c) LOCKON CO.,LTD. All Rights Reserved.
http://www.lockon.co.jp/
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% set body_class = 'product_page' %}
{% block stylesheet %}
<style>
    .list_info_title{
        display: block;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .ec-role img {
        height: 189px;
    }
    .ec-layoutRole .ec-layoutRole__contents {
        margin-top: 100px;
    }
    .ec-layoutRole__contents {
        margin-bottom: 30px;
    }
    .ec-newItemRole {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .slick-slider {
        margin-bottom: 30px;
    }
    .slick-dots {
        position: absolute;
        bottom: -45px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }
    .slick-dots li button:before {
        content: " ";
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        text-align: center;
        opacity: .25;
        background-color: black;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        background-color: black;
    }
    .slick-dots li button.thumbnail img {
        width: 0;
        height: 0;
    }
    .item_list_info {
        border-radius: 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        vertical-align: inherit;
        font-size: 14px;
        line-height: 1.5;
        background-color: #f8f8f8;
        color: #555555;
    }
    .sort_block {
        float: right;
        vertical-align: middle;
    }
    .sort_block select {
        line-height: 1;
        font-size: 12px;
		border: 1px solid rgb(169, 169, 169);
    }
    .ec-newItemRole__list {
        position: relative;
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 25px;
        height: 25px;
        padding: 0;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid transparent;
        position: absolute;
        background: #6f6f6f;
        top: 35%;
    }
    .slick-prev::before {
        content: "";
        display: block;
        border-bottom: 3px solid;
        border-bottom-color: currentcolor;
        border-left: 3px solid;
        border-left-color: currentcolor;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        border-color: #fff;
        position: absolute top: 50%;
        margin: 7px;
        margin-left: 8px;
    }
    .slick-next::after {
        content: "";
        display: block;
        border-bottom: 3px solid;
        border-bottom-color: currentcolor;
        border-left: 3px solid;
        border-left-color: currentcolor;
        transform: rotate(-135deg);
        width: 10px;
        height: 10px;
        border-color: #fff;
        position: absolute top: 50%;
        margin: 5px;
        margin-top: 6px;
    }
    .slick-prev {
        left: -25px;
    }
    .slick-next {
        right: -25px;
    }
    .ItemRole__listItem_block {
        display: block;
        width: 100%;
        margin: 0 10px;
    }
    .ec-newItemRole__listItem {
        float: left;
        width: calc(88.5% / 5) !important;
    }
    .ec-newItemRole__listItem a{
        text-decoration: none;
    }
    .ec-newItemRole__listItem a:hover{
        text-decoration: underline;
    }
    .ec-newItemRole__listItem:last-child {
        margin-right: 0 !important;
    }
    .store_item_block_pager {
        list-style: none;
        text-align: right;
        display: block;
    }
    .store_item_block_pager li {
        display: inline;
        margin-left: 2px;
        margin-right: 2px;
    }
    .shop_detail_title {
        display: block;
        font-weight: bold;
		margin-top: 20px;
        margin-bottom: 10px;
    }
    .shop_detail_area {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 10px;
		font-size: 14px;
        margin-bottom: 20px;
    }
    .shop_detail_area_2,
    .shop_detail_area_3 {
        width: 50%;
        float: left;
        display: block;
		padding: 10px 30px 10px 10px;
    }
    .shop_detail_area_3 {
        padding-left: 0;
    }
    .card_payment {
        width: 50%;
        float: left;
        display: block;
        padding: 20px;
        padding-left: 10px;
    }
    .card_payment img {
        width: auto !important;
        height: auto;
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 0;
    }
    .conveni_description{
        margin-top: 15px;
    }
    .bank_payment {
        width: 50%;
        float: right;
        display: block;
        padding: 20px 0;
    }
    .transfer_content {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
		line-height: 1.8;
    }
    .table_type1,
    .table_type2 {
        width: 98%;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .table_type2 {
        width: 100%;
        margin-top: 10px;
    }
    .table_type1 tr,
    .table_type2 tr {
        border-bottom: 1px solid #ccc;
    }
    .table_type1 tr:last-child,
    .table_type2 tr:last-child {
        border-bottom: none;
    }
    .table_type2 tr:first-child th {
        padding: 10px;
    }
    .table_type2 tr:first-child th:last-child {
        padding: 10px;
        border-left: 1px solid #ccc;
    }
    .table_type1 th {
        padding: 10px;
        background-color: #DE5D50;
        color: #fff;
        font-weight: normal;
        padding-left: 5px;
    }
    .table_type1 td,
    .table_type2 td {
        padding: 10px;
    }
    .table_type2 td:first-child {
        display: block;
    }
    .table_type2 td:last-child {
        width: 15%;
        border-left: 1px solid #ccc;
    }
    a {
        text-decoration: underline;
        color: #33A8D0;
    }
    .shop_detail_title01 {
        font-weight: bold;
		margin-top: 10px;
        margin-bottom: 10px;
    }
    .shop_detail_privacy,
    .shop_detail_distributor {
        display: inline-block;
    }
    .shop_detail_distributor {
        line-height: 1.5;
        margin-top: 20px;
    }
    .privacy_detail,
    .distributor_detail {
        line-height: 1.8;
    }
    .obj_list_link {
        margin-top: 20px;
    }
    .obj_list_link a {
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 2.5;
        text-align: center;
        color: #fff;
        background-color: #525263;
        border-color: #525263;
        font-size: 16px;
    }
    .obj_list_link a:focus {
        color: #fff;
        background-color: #3b3b47;
        border-color: #18181d;
    }
  .pagination a {
        text-decoration: none;
        padding: 5px 10px;
        color: #525263;
        line-height: 1.8;
    }
    .pagination a:hover{
        background: #F3F3F3;

    }
    .pagination .current {
        display: inline-block;
        min-width: 29px;
        line-height: 1.8;
        padding: 0 3px 0 2px;
        text-align: center;
        position: relative;
        background: #F3F3F3;
    }
	@media only screen and (max-width: 767px){
        .ec-role{
            padding-left: .2rem;
            padding-right: .2rem;
        }
        .ec-newItemRole{
            font-size: .14rem;
            padding-top: .3rem;
            padding-bottom: .3rem;
        }
        .list_info_title{
            font-size: .24rem;
            margin-top: .2rem;
            margin-bottom: .1rem;
        }
        .ItemRole__listItem_block{
            margin: 0 auto;
        }
        .item_list_info{
            font-size: .14rem;
            padding: .05rem .1rem;
        }
        .sort_block select{
            font-size: .12rem;
        }
        .ec-newItemRole__listItem{
            width: calc(92% / 5) !important;
        }
        .ec-newItemRole__listItem img{
            height: 1rem;

        }
        .ec-newItemRole .ec-newItemRole__listItem{
            margin-right: 0.11rem !important;
        }
        .ec-newItemRole .ec-newItemRole__listItemTitle {
            font-size: .14rem;
        }
        .ec-newItemRole .ec-newItemRole__listItemPrice {
            font-size: .12rem;
        }
        .ec-newItemRole .ec-newItemRole__listItem:last-child{
            margin-right: 0rem !important;
        }
        .shop_detail_title{
            font-size: .24rem;
            margin-top: .2rem;
            margin-bottom: .2rem;
        }
        .shop_detail_area{
            font-size: .14rem;
            margin-bottom: .2rem;
        }
        .shop_detail_area_2, .shop_detail_area_3 {
            padding: .1rem .3rem .1rem .1rem;
        }
        .shop_detail_area_3 {
            padding-left: 0;
        }
        .shop_detail_title01{
            font-size: .18rem;
            margin-top: .1rem;
            margin-bottom: .1rem;
        }
        .shop_detail_distributor {
            margin-top: .2rem;
        }
         .obj_list_link {
            margin-top: .2rem;
        }
        .obj_list_link a{
            font-size: .16rem;
        }
        .pagination .current {
            min-width: .29rem;
            padding: 0 .03rem 0 .02rem;
        }
        .pagination a {
            padding: .05rem .1rem;
        }
        .sort_block{
            display: inline-table;
        }
        .sort_block select{
            display: inline-table;
        }
	}
    @media only screen and (max-width: 561px){
        .card_payment, .bank_payment, .shop_detail_area_2, .shop_detail_area_3 {
            width: 100%;
            margin: 0 auto;
            padding: .2rem 0;
            padding-left: .1rem;
            padding-right: .1rem;
        }
        .card_payment {
            padding: .1rem;
        }
        .table_type2 {
            margin-top: .1rem;
        }
        .shop_detail_area_2{
            padding-top: .1rem;
            padding-bottom: 0;
        }
        .shop_detail_area_3{
            padding-top: 0;
        }
        .sort_block{
            display: inline-table;
        }
        .sort_block select{
            display: inline-table;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1103px){
        .ec-newItemRole__listItem img{
            height: 15rem;
        }
        .ec-newItemRole__listItem{
            width: calc(92% / 5) !important;
        }
        .ec-newItemRole .ec-newItemRole__listItem{
            margin-right: 1.62rem !important;
        }
        .ec-newItemRole .ec-newItemRole__listItem:last-child{
            margin-right: 0rem !important;
        }
        .sort_block{
            display: inline-table;
        }
        .sort_block select{
            display: inline-table;
        }
    }
    @media only screen and (min-width: 1110px) and (max-width: 1115px){
        .sort_block{
            display: inline-table;
        }
        .sort_block select{
            display: inline-table;
        }
    }
</style>
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/js/common_job.js') }}"></script>
<script>
    $(document).ready(function() {
    dataLayer.push({
        'product': {
            'ProductId': {{ Product.id }},
            'ProductCode': '{{ Product.code_min }}',
            'ProductName': '{{ Product.name }}'
        }
    });
    });        
</script>
<script>
    eccube.classCategories = {{ class_categories_as_json(Product) | raw }};
    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }
    {% if form.classcategory_id2 is defined %}
    fnSetClassCategories(
        $('#form1'), {{ form.classcategory_id2.vars.value | json_encode | raw }}
    );
    {% elseif form.classcategory_id1 is defined %}
    eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value | json_encode | raw }}, null);
    {% endif %}
</script>
<script>
    $(function () {
        // bfcache無効化
        $(window).bind('pageshow', function (event) {
            if (event.originalEvent.persisted) {
                location.reload(true);
            }
        });
        $('.item_visual').slick({
            dots: false,
            arrows: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    dots: true
                }
            }]
        });
        $('.slideThumb').on('click', function () {
            var index = $(this).attr('data-index');
            $('.item_visual').slick('slickGoTo', index, false);
        })
    });
</script>
<script>
    $(function () {
        $('.add-cart').on('click', function (event) {
            {% if form.classcategory_id1 is defined %}
            // 規格1フォームの必須チェック
            if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
                $('#classcategory_id1')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                return true;
            } else {
                $('#classcategory_id1')[0].setCustomValidity('');
            }
            {% endif %}
            {% if form.classcategory_id2 is defined %}
            // 規格2フォームの必須チェック
            if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                $('#classcategory_id2')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                return true;
            } else {
                $('#classcategory_id2')[0].setCustomValidity('');
            }
            {% endif %}
            // 個数フォームのチェック
            if ($('#quantity').val() < 1) {
                $('#quantity')[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                return true;
            } else {
                $('#quantity')[0].setCustomValidity('');
            }
            event.preventDefault();
            $form = $('#form1');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serialize(),
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    // Buttonを無効にする
                    $('.add-cart').prop('disabled', true);
                }
            }).done(function (data) {
                // レスポンス内のメッセージをalertで表示
                $.each(data.messages, function () {
                    $('#ec-modal-header').html(this);
                });
                $('#ec-modal-checkbox').prop('checked', true);
                // カートブロックを更新する
                $.ajax({
                    url: "{{ url('block_cart') }}",
                    type: 'GET',
                    dataType: 'html'
                }).done(function (html) {
                    $('.ec-headerRole__cart').html(html);
                });
            }).fail(function (data) {
                alert('{{ 'カートへの追加に失敗しました。'|trans }}');
            }).always(function (data) {
                // Buttonを有効にする
                $('.add-cart').prop('disabled', false);
            });
        });
    });
</script>
<script type="text/javascript">
    $('.sorting').change(function () { 
        var supplierSort = $("#supplierSort").val();
        var categorySort = $("#categorySort").val();
        $('#hd_supplierSort').val(supplierSort);
        $('#hd_categorySort').val(categorySort);
        $("#form2").submit();
    });
$( document ).ready(function() {
      var hashcode = window.location.hash;
      $('html,body').animate({scrollTop: $('div#'+hascode).offset().top},'slow');
    });
</script>
{% endblock %}
{% block main %}
<div class="ec-productRole">
    <div class="ec-grid2">
        <div class="ec-grid2__cell">
            <div class="ec-sliderItemRole">
                <div class="item_visual">
                    {% for ProductImage in Product.ProductImage %}
                    <div class="slide-item"><img src="{{ asset(ProductImage, 'save_image') }}"></div>
                    {% else %}
                    <div class="slide-item"><img src="{{ asset(''|no_image_product, 'save_image') }}" /></div>
                    {% endfor %}
                </div>
                <div class="item_nav">
                    {% for ProductImage in Product.ProductImage %}
                    <div class="slideThumb" data-index="{{ loop.index0 }}"><img
                            src="{{ asset(ProductImage, 'save_image') }}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ec-grid2__cell">
            <div class="ec-productRole__profile">
                {# 商品名 #}
                <div class="ec-productRole__title">
                    <h2 class="ec-headingTitle">{{ Product.name }}</h2>
                </div>
                {# タグ #}
                <ul class="ec-productRole__tags">
                    {% for Tag in Product.Tags %}
                    <li class="ec-productRole__tag tag_{{ Tag.id }}">{{ Tag }}</li>
                    {% endfor %}
                </ul>
                {# 通常価格 #}
                {# {% if Product.hasProductClass -%}
                <div class="ec-productRole__priceRegular">
                    {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
                    <span class="ec-productRole__priceRegularPrice">{{ '通常価格'|trans }}：<span
                            class="price01-default">{{ Product.getPrice01IncTaxMin|price }}</span></span>
                    <span class="ec-productRole__priceRegularTax">{{ '税込'|trans }}</span>
                    {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                    <span class="ec-productRole__priceRegularPrice">{{ '通常価格'|trans }}：<span
                            class="price01-default">{{ Product.getPrice01IncTaxMin|price }}～
                            {{ Product.getPrice01IncTaxMax|price }}</span></span>
                    <span class="ec-productRole__priceRegularTax">{{ '税込'|trans }}</span>
                    {% endif %}
                </div>
                {% else %}
                {% if Product.getPrice01Max is not null %}
                <span
                    class="ec-productRole__priceRegularPrice">{{ '通常価格'|trans }}：{{ Product.getPrice01IncTaxMin|price }}</span>
                <span class="ec-productRole__priceRegularTax">{{ '税込'|trans }}</span>
                {% endif %}
                {% endif %} #}
                {# 販売価格 #}
                <div class="ec-productRole__price">
                    {% if Product.hasProductClass -%}
                    {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                    <div class="ec-price">
                        <span class="ec-price__price price02-default">{{ Product.getPrice02IncTaxMin|price }}</span>
                        <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
                    </div>
                    {% else %}
                    <div class="ec-price">
                        <span class="ec-price__price price02-default">{{ Product.getPrice02IncTaxMin|price }} ～
                            {{ Product.getPrice02IncTaxMax|price }}</span>
                        <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="ec-price">
                        <span class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }}</span>
                        <span class="ec-price__tax">{{ '(税込)'|trans }}</span>
                    </div>
                    {% endif %}
                </div>
                {# 商品コード #}
                {% if Product.code_min is not empty %}
                <div class="ec-productRole__code">
                    {{ '商品コード'|trans }}： <span
                        class="product-code-default">{{ Product.code_min }}{% if Product.code_min != Product.code_max %}
                        ～ {{ Product.code_max }}{% endif %}</span>
                </div>
                {% endif %}
                {# 関連カテゴリ #}
                {% if Product.ProductCategories is not empty %}
                <div class="ec-productRole__category">
                    <div>{{ '関連カテゴリ'|trans }}</div>
                    {% for ProductCategory in Product.ProductCategories %}
                    <ul>
                        <li>
                            {# {% for Category in ProductCategory.Category.path %}
                            <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>
                            {%- if loop.last == false %}
                            <span>＞</span>{% endif -%}
                            {% endfor %} #}
                            {% for Category in ProductCategory.Category.path %}
                                             {%- if loop.last == false %}
                                            <span>＞</span>
                                             {% else -%}
                                                <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>
                                            {% endif -%}
                                        {% endfor %}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1" name="form1">
                    {% if Product.stock_find %}
                    <div class="ec-productRole__actions">
                        {% if form.classcategory_id1 is defined %}
                        <div class="ec-select">
                            {{ form_widget(form.classcategory_id1) }}
                            {{ form_errors(form.classcategory_id1) }}
                        </div>
                        {% if form.classcategory_id2 is defined %}
                        <div class="ec-select">
                            {{ form_widget(form.classcategory_id2) }}
                            {{ form_errors(form.classcategory_id2) }}
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="ec-numberInput"><span>{{ '数量'|trans }}</span>
                            {{ form_widget(form.quantity) }}
                            {{ form_errors(form.quantity) }}
                        </div>
                    </div>
                    <div class="ec-productRole__btn">
                        <button type="submit" class="ec-blockBtn--action add-cart">
                            {{ 'カートに入れる'|trans }}
                        </button>
                    </div>
                    {% else %}
                    <div class="ec-productRole__btn">
                        <button type="button" class="ec-blockBtn--action" disabled="disabled">
                            {{ 'ただいま品切れ中です。'|trans }}
                        </button>
                    </div>
                    {% endif %}
                    {{ form_rest(form) }}
                </form>
                <div class="ec-modal">
                    <input type="checkbox" id="ec-modal-checkbox" class="checkbox">
                    <div class="ec-modal-overlay">
                        <label for="ec-modal-checkbox" class="ec-modal-overlay-close"></label>
                        <div class="ec-modal-wrap">
                            <label for="ec-modal-checkbox" class="ec-modal-close"><span class="ec-icon"><img
                                        src="{{ asset('assets/icon/cross-dark.svg') }}" alt="" /></span></label>
                            <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                            <div class="ec-modal-box">
                                <div class="ec-role">
                                    <label for="ec-modal-checkbox"
                                        class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</label>
                                    <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if BaseInfo.option_favorite_product %}
                <form action="{{ url('product_add_favorite', {id:Product.id}) }}" method="post">
                    <div class="ec-productRole__btn">
                        {% if is_favorite == false %}
                        <button type="submit" id="favorite" class="ec-blockBtn--cancel">
                            {{ 'お気に入りに追加'|trans }}
                        </button>
                        {% else %}
                        <button type="submit" id="favorite" class="ec-blockBtn--cancel"
                            disabled="disabled">{{ 'お気に入りに追加済です。'|trans }}
                        </button>
                        {% endif %}
                    </div>
                </form>
                {% endif %}
                <div class="ec-productRole__description">{{ Product.description_detail|raw|nl2br }}
                </div>
            </div>
        </div>
    </div>
    {% if Product.freearea %}
    <div class="ec-productRole__description">
        {{ include(template_from_string(Product.freearea)) }}
    </div>
    {% endif %}
</div>
{% set sortingArray = ["新着順", "登録順", "価格の高い順", "価格の安い順" ] %}
<form name="form2" id="form2" method="get" action="?">
    {# <div class="ec-role">
        <div class="ec-newItemRole">
            <div class="item_list_info">
                <span
                    class="info">{{ paginationBySupplier.totalItemCount }}件中、{{ paginationBySupplier.getPaginationData.firstItemNumber }}〜{{ paginationBySupplier.getPaginationData.lastItemNumber }}件を表示しています。</span>
                <div class="sort_block">
                    並び替え:
                    <select name="supplierSort" id="supplierSort" class="sorting">
                        <option value="0">-----</option>
                        {% for key, value in sortingArray %}
                        <option {% if oldSortingValues.supplierSorting ==  key+1  %} selected {% endif %}
                            value="{{ key+1 }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <ul class="store_item_block_pager">
                <li>{{ knp_pagination_render(paginationBySupplier) }}</li>
            </ul>
            <input type="hidden" name="hd_supplierSort" id="hd_supplierSort" value="">
            <div class="ec-newItemRole__list">
                <div class="ItemRole__listItem_block" id="sortedSupplierData">
                    {% for supplierProduct in paginationBySupplier %}
                    <div class="ec-newItemRole__listItem">
                        <a href="{{ url('product_detail', {'id': supplierProduct.id}) }}">
                            <img src="{{ asset(supplierProduct.file_name, 'save_image') }}">
                            <p class="ec-newItemRole__listItemTitle">{{ supplierProduct.name }}</p>
                            <p class="ec-newItemRole__listItemPrice">
                                ￥{{supplierProduct.price02 + (supplierProduct.price02 * taxRate)|round}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> #}
    <div class="ec-role">
        <div class="ec-newItemRole">
            <h3 class="list_info_title">
                関連商品
            </h3>
            <div class="item_list_info">
                <span
                    class="info">{{ paginationByCategory.totalItemCount }}件中、{{ paginationByCategory.getPaginationData.firstItemNumber }}〜{{ paginationByCategory.getPaginationData.lastItemNumber }}件を表示しています。</span>
                <div class="sort_block">
                    <span>並び替え:</span>
                    <select name="categorySort" id="categorySort" class="sorting">
                        {% for key, value in sortingArray %}
                        <option {% if oldSortingValues.categorySorting ==  key+1  %} selected {% endif %}
                            value="{{ key+1 }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <ul class="store_item_block_pager">
                <li>{{ knp_pagination_render(paginationByCategory) }}</li>
            </ul>
            <input type="hidden" name="hd_categorySort" id="hd_categorySort" value="">
            <div class="ec-newItemRole__list">
                <div class="ItemRole__listItem_block">
                    {% for categoryProduct in paginationByCategory %}
                    <div class="ec-newItemRole__listItem">
                        <a href="{{ url('product_detail', {'id': categoryProduct.id}) }}">
                            <img src="{{ asset(categoryProduct.file_name, 'save_image') }}">
                            <p class="ec-newItemRole__listItemTitle">{{ categoryProduct.name }}</p>
                            <p class="ec-newItemRole__listItemPrice">
                                ￥{{(categoryProduct.price02 + (categoryProduct.price02 * taxRate))|round|number_format}}(税込)</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
<div class="ec-role">
    <h3 class="shop_detail_title">お支払い方法</h3>
    <div id="shop_detail_area" class="shop_detail_area">
        <div class="card_payment">
            <span class="title">
                ■クレジットカード決済
            </span><br>
            <img src="{{ asset('assets/img/common/kessaicard.png') }}"><br><br>
            <div class="conveni_store">
                <span class="title">
                ■コンビニ決済
                </span><br>
                <p class="conveni_description">対応準備中です。</p>
            </div>  
        </div>
        <div class="bank_payment">
            ■銀行振込 <br>
            <span class="transfer_content">
                ※【ご注文内容の確認】メール到着後、7日以内にお振込をお願い致します。
                お振込確認後、「正式受注」とさせて頂きます。<br>
                ※振込み手数料はお客様のご負担でお願い致します。
            </span>
            <table class="table_type1">
                <tbody>
                    <tr>
                        <th class="w150">銀行名</th>
                        <td>三菱UFJ銀行</td>
                    </tr>
                    <tr>
                        <th>支店名</th>
                        <td>新宿中央支店</td>
                    </tr>
                    <tr>
                        <th>口座名義</th>
                        <td>マネジメントパートナーズ（カ</td>
                    </tr>
                    <tr>
                        <th>預金科目</th>
                        <td>普通</td>
                    </tr>
                    <tr>
                        <th>口座番号</th>
                        <td>5796759</td>
                    </tr>
                </tbody>
            </table>
            詳しくは<a href="/user_data/payment#payment-method2" target="_blank">こちら</a>をご覧下さい。
        </div>
    </div>
    <div class="shop_detail_area shop_detail_area001">
        <div id="shop_detail_area" class="shop_detail_area_2">
            <h4 class="shop_detail_title01">配送方法・送料</h4>
            ヤマト運輸（通常配送）での発送になります。
             <table class="table_type2">
                <tbody>
                    {% for  key, deliveryCharge in deliveryCharges %}
                        <tr>
                            <th>地域</th>
                            <th>料金</th>
                        </tr>
                        <tr>
                            {% if key == '北海道' %}
                                <td>【北海道】北海道</td>
                                <td>{{ deliveryCharge.北海道|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '北東北' %}
                                <td>【北東北】青森県・秋田県・岩手県</td>
                                <td>{{ deliveryCharge.北東北|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '南東北' %}
                                <td>【南東北】山形県・宮城県・福島県</td>
                                <td>{{ deliveryCharge.南東北|round }}円</td>
                            {% endif %}
                        </tr>    
                        <tr>
                            {% if key == '信越' %}
                                <td>【信越】長野県・新潟県</td>
                                <td>{{ deliveryCharge.信越|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '関東' %}
                                <td>【関東】東京都・茨城県・千葉県・神奈川県・山梨県・埼玉県・栃木県・群馬県</td>
                                <td>{{ deliveryCharge.関東|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '北陸' %}
                                <td>【北陸】富山県・石川県・福井県</td>
                                <td>{{ deliveryCharge.北陸|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '中部' %}
                                <td>【中部】静岡県・愛知県・岐阜県・三重県</td>
                                <td>{{ deliveryCharge.中部|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '関西' %}
                                <td>【関西】兵庫県・大阪府・奈良県京都府・滋賀県・和歌山県</td>
                                <td>{{ deliveryCharge.関西|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '中国' %}
                                <td>【中国】山口県・広島県・岡山県・鳥取県・島根県</td>
                                <td>{{ deliveryCharge.中国|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '四国' %}
                                <td>【四国】愛媛県・香川県・高知県・徳島県</td>
                                <td>{{ deliveryCharge.四国|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '九州' %}
                                <td>【九州】福岡県・佐賀県・長崎県・大分県・宮崎県・鹿児島県</td>
                                <td>{{ deliveryCharge.九州|round }}円</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if key == '沖縄' %}
                                <td>【沖縄】沖縄県</td>
                                <td>{{ deliveryCharge.沖縄|round }}円</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="shop_detail_area_3">
            <div class="shop_detail_privacy">
                <h4 class="shop_detail_title01">プライバシー</h4>
                <div class="privacy_detail">
                    お客様からいただいた個人情報は商品の発送とご連絡以外には一切使用致しません。<br>
                    当社が責任をもって安全に蓄積・保管し、第三者に譲渡・提供することはございません。<br><br>
                    詳しくは<a href="/user_data/privacy" target="_blank">こちら</a>をご覧下さい。
                </div>
            </div>
            <div class="shop_detail_distributor">
                <h4 class="shop_detail_title01">販売業者</h4>
                <div class="distributor_detail">
                    商号：株式会社マネジメントパートナーズ<br>
                    業務責任者：野澤優治<br>
                    所在地：<br>
                    &nbsp;&nbsp;〒163-0713<br>
                    &nbsp;&nbsp;東京都新宿区西新宿2丁目7-1 小田急第一生命ビル13F<br>
                    電話番号：03-6911-3025 <br>
                    メールアドレス：info@den-saku.com<br>
                    店舗屋号：伝索<br>
                    営業時間：09：00～18：00（土日祝日除く）<br>
                    問い合わせ受付時間：09：00～17：30（土日祝日除く）<br>
                    ・ネットでのご注文は２４時間受け付けております。<br>
                    ・メールの返信は翌営業日となりますので、ご了承下さい。
                </div>
            </div>
        </div>
    </div>
    <div class="obj_list_link"><span><a href="{{ url('detail_info', {'id':supplierId}) }}"  target="_blank">事業者「{{supplier.trade_name}}」ページはこちら</a></span></div>
</div>
{% endblock %}