{% block stylesheet %}   
{% endblock %}

{% block javascript %}  
{% endblock javascript %}

{% block main %}
    <div class="top_mv">
        <div class="mv_center">
            <div class="mv_logo_content">
                <table class="mv_table">
                    <tr>
                        <td>
                            <a href="{{ url('homepage') }}">
                                <img class="gift_header_logo" src="{{ asset('assets/img/gift/gift_header_logo.png') }}">
                            </a>
                        </td>
                        <td>
                            <p class="mv_logo_txt">日本伝統工芸品販売</p>
                        </td>
                    </tr>
                </table>
                <ul class="clearfix customize_line">
                    <li>
                        <div class="line_red"></div>
                    </li>
                    <li>
                        <div class="line_blue"></div>
                    </li>
                    <li>
                        <div class="line_yellow"></div>
                    </li>
                    <li>
                        <div class="line_green"></div>
                    </li>
                    <li>
                        <div class="line_purple"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}