{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<style>
    .header_bg_sp{
        background: #150532;
        display: none;
    }
    @media only screen and (min-width: 768px){
        .header_bg_sp{
            display: none;
        }
    }
</style>
<div class="header_bg_sp">
<div class="ec-headerRole">
    <div class="ec-headerRole__title">
        <div class="ec-headerTitle">
            <div class="ec-headerTitle__title">
                <h1>
                    {#<a href="{{ url('homepage') }}">#}
                    {#    {{ BaseInfo.shop_name }}#}
                    {#</a>#}
                    <a class="logo" href="{{ url('homepage') }}">
                        <img src="{{ asset('assets/img/top/logo.png') }}" width="210" height="50">
                    </a>
                </h1>
            </div>
        </div>
    </div>
</div>
</div>