{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set NewsList = repository('Eccube\\Entity\\News').getList() %}

<style>
    .ec-secHeading{
        margin: 0;
    }
    .ec-newsRole .ec-newsRole__newsItem:not(:last-of-type){
        border: none;
    }
    .ec-newsRole .ec-newsRole__newsHeading{
        /*border-bottom: 2px dotted #150532;*/
         padding: 10px 0;
         cursor: context-menu;
    }
    .ec-newsRole .ec-newsRole__newsItem{
        padding: 0;
    }
    .ec-newsRole .online_subtitle{
        margin-bottom: 0;
    }
    .ec-newsRole .ec-newsRole__news{
        border: 2px solid #c2c2c2;
        border-radius: 10px;
        padding: 10px 40px;
        overflow-y: scroll;
        height: 204px;
    }
    .ec-newsRole .ec-newsRole__newsDate,
    .ec-newsRole .ec-newsRole__newsTitle{
        font-size: 16px;
        line-height: 1;
        color: #000;
        font-weight: normal;
    }
	/*For SP*/
    @media only screen and (min-width: 320px) and (max-width: 480px){
        .search_field{
            display: none;
        }
        .scroll{
            padding-top:20px;
        }
        .panel-title{
            font-size: 12px !important;
        }
    }/*mzmw*/
    @media only screen and (min-width: 481px) and (max-width: 680px){
        .search_field{
            display: none;
        }
         .scroll{
            padding-top:20px;
        }
    }/*mzmw*/

    @media only screen and (max-width: 767px){
        .search_field{
            display: none;
        }
        .scroll{
            padding-top:20px;
        }/*mzmw*/
        .ec-newsRole{
            padding: .40rem 0 0;
        }
        .ec-newsRole .ec-newsRole__news{
            padding: .10rem .40rem;
            height: 2.04rem;
        }
        .ec-newsRole .ec-newsRole__newsDate,
        .ec-newsRole .ec-newsRole__newsTitle{
            font-size: .16rem;
        }
        .ec-newsRole .ec-newsRole__newsHeading{
            padding: .10rem 0 0 0;
        }
        .ec-newsRole .ec-newsRole__newsDate{
            margin: .15rem 0 .05rem 0;
        }
        /*mzmw*/
        .ec-pannel{
            display: block;
            padding-top:20px;
        }
        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content:"\f068";
            padding-right: 5px;
        }
        .panel-title > a.collapsed:before {
            float: right !important;
            content:"\f067";
        }
        .panel-title > a:hover, 
        .panel-title > a:active, 
        .panel-title > a:focus  {
            text-decoration:none;
        }
        .ec-row{
            display: flex;
        }
        .ec-col-left{
            width:50%;
            padding-right: 7.5px !important;
        }
        .ec-col-right{
            width:50%;
            padding-left: 7.5px !important;
        }
        .ec-sm-cat-list{
            list-style: none;
        }
        .ec-sm-cat-list li{
            width:auto !important;
            float:left;
        }
        .ec-sm-prefecture{
            padding: 0px !important;
        }
        .ec-sm-select2{
            border-radius: 5px;
            box-shadow: none;
        }
        .panel-heading{
            padding:17px 15px !important;
        }
        select.select2-container:active, select.select2-container:hover {
          outline: none
        }
        .panel{
            border: 2px solid #000 !important;
        }
        .panel-default>.panel-heading {
            border: 0px !important;
            border-radius: 10px !important;
            background-color:#fff !important;
        }
        .ec-sm-scroll{
            height: 30vh;
            overflow: auto;
        }
        .panel-title{
            font-size: 13px;
        }
        /*mzmw*/

    }
     /*mzmw*/
     @media screen and (min-width: 768px){
        .ec-pannel{
            display: none;
        }
     }
      /*mzmw*/
    /*end of SP*/
</style>

{% block javascript %}
    <script>
        // $(function() {
        //     $('.ec-newsRole__news').each(function() {
        //         var listLength = $(this).find('.ec-newsRole__newsItem').length;
        //         if (listLength > 5) {
        //             $(this).find('.ec-newsRole__newsItem:gt(4)').each(function() {
        //                 $(this).hide();
        //             });
        //             $(this).append('<a id="news_readmore" class="ec-inlineBtn--top">{{ 'more'|trans }}</a>');
        //             var dispNum = 5;
        //             $(this).find('#news_readmore').click(function() {
        //                 dispNum += 5;
        //                 $(this).parent().find('.ec-newsRole__newsItem:lt(' + dispNum + ')').show();
        //                 if (dispNum >= listLength) {
        //                     $(this).hide();
        //                 }
        //             })
        //         }
        //     });

            $('.ec-newsRole__newsHeading').on('click', function() {
                $newsItem = $(this).parent('.ec-newsRole__newsItem');
                $newsDescription = $newsItem.children('.ec-newsRole__newsDescription');
                if ($newsDescription.css('display') == 'none') {
                    $newsItem.addClass('is_active');
                    $newsDescription.slideDown(300);
                } else {
                    $newsItem.removeClass('is_active');
                    $newsDescription.slideUp(300);
                }
                return false;
            });
        // });
    </script>
{% endblock %}
<div class="ec-pannel">
    <div class="container clearfix">
        <div class="row clearfix">
            <div class="col-md-12 ">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                             <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                         全ての商品
                        </a>
                      </h4>

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div>
                                <select class="select2-container ec-sm-select2">
                                    <option value="">全ての商品</option>
                                    <option value="93">織物</option>
                                    <option value="89">染色品</option>
                                    <option value="79">陶磁器</option>
                                    <option value="69">漆器</option>
                                    <option value="62">木工品</option>
                                    <option value="60">竹工品</option>
                                    <option value="55">金工品</option>
                                    <option value="53">和紙</option>
                                    <option value="51">文具</option>
                                    <option value="45">人形</option>
                                    <option value="35">その他工芸品</option>
                                    <option value="31">その他植物製品</option>
                                    <option value="26">その他</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix ec-row">
            <div class="col-md-6 ec-col-left">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                             <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          都道府県から探す
                        </a>
                      </h4>

                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="content_prefecture ec-sm-prefecture ec-sm-scroll">
                                    <h3 class="pref_title">北海道</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%8C%97%E6%B5%B7%E9%81%93">北海道</a></li>
                                    </ul>
                                    <h3 class="pref_title">東北</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%9D%92%E6%A3%AE%E7%9C%8C">青森県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B2%A9%E6%89%8B%E7%9C%8C">岩手県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%AE%AE%E5%9F%8E%E7%9C%8C">宮城県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%A7%8B%E7%94%B0%E7%9C%8C">秋田県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B1%B1%E5%BD%A2%E7%9C%8C">山形県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%A6%8F%E5%B3%B6%E7%9C%8C">福島県</a></li>
                                    </ul>
                                    <h3 class="pref_title">関東・甲信越</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E8%8C%A8%E5%9F%8E%E7%9C%8C">茨城県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%A0%83%E6%9C%A8%E7%9C%8C">栃木県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%BE%A4%E9%A6%AC%E7%9C%8C">群馬県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%9F%BC%E7%8E%89%E7%9C%8C">埼玉県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%8D%83%E8%91%89%E7%9C%8C">千葉県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%9D%B1%E4%BA%AC%E9%83%BD">東京都</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C">神奈川県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%96%B0%E6%BD%9F%E7%9C%8C">新潟県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B1%B1%E6%A2%A8%E7%9C%8C">山梨県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%95%B7%E9%87%8E%E7%9C%8C">長野県</a></li>
                                    </ul>
                                    <h3 class="pref_title">東海</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B2%90%E9%98%9C%E7%9C%8C">岐阜県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%9D%99%E5%B2%A1%E7%9C%8C">静岡県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%84%9B%E7%9F%A5%E7%9C%8C">愛知県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E4%B8%89%E9%87%8D%E7%9C%8C">三重県</a></li>
                                    </ul>
                                    <h3 class="pref_title">北陸</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%AF%8C%E5%B1%B1%E7%9C%8C">富山県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%9F%B3%E5%B7%9D%E7%9C%8C">石川県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%A6%8F%E4%BA%95%E7%9C%8C">福井県</a></li>
                                    </ul>
                                    <h3 class="pref_title">近畿</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%BB%8B%E8%B3%80%E7%9C%8C">滋賀県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E4%BA%AC%E9%83%BD%E5%BA%9C">京都府</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%A4%A7%E9%98%AA%E5%BA%9C">大阪府</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%85%B5%E5%BA%AB%E7%9C%8C">兵庫県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%A5%88%E8%89%AF%E7%9C%8C">奈良県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%92%8C%E6%AD%8C%E5%B1%B1%E7%9C%8C">和歌山県</a></li>
                                    </ul>
                                    <h3 class="pref_title">中国</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%B3%A5%E5%8F%96%E7%9C%8C">鳥取県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B3%B6%E6%A0%B9%E7%9C%8C">島根県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B2%A1%E5%B1%B1%E7%9C%8C">岡山県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%BA%83%E5%B3%B6%E7%9C%8C">広島県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%B1%B1%E5%8F%A3%E7%9C%8C">山口県</a></li>
                                    </ul>
                                    <h3 class="pref_title">四国</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%BE%B3%E5%B3%B6%E7%9C%8C">徳島県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%A6%99%E5%B7%9D%E7%9C%8C">香川県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%84%9B%E5%AA%9B%E7%9C%8C">愛媛県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%AB%98%E7%9F%A5%E7%9C%8C">高知県</a></li>
                                    </ul>
                                    <h3 class="pref_title">九州</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%A6%8F%E5%B2%A1%E7%9C%8C">福岡県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E4%BD%90%E8%B3%80%E7%9C%8C">佐賀県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%95%B7%E5%B4%8E%E7%9C%8C">長崎県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E7%86%8A%E6%9C%AC%E7%9C%8C">熊本県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%A4%A7%E5%88%86%E7%9C%8C">大分県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E5%AE%AE%E5%B4%8E%E7%9C%8C">宮崎県</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E9%B9%BF%E5%85%90%E5%B3%B6%E7%9C%8C">鹿児島県</a></li>
                                    </ul>
                                    <h3 class="pref_title">沖縄</h3>
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?prefecture=%E6%B2%96%E7%B8%84%E7%9C%8C">沖縄県</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ec-col-right">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                             <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         全ての商品
                        </a>
                      </h4>

                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="content_prefecture ec-sm-prefecture">
                                    <ul class="pref_category_list ec-sm-cat-list clearfix">
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=26">その他</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=31">その他植物製品</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=35">その他工芸品</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=45">人形</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=51">文具</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=53">和紙</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=55">金工品</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=60">竹工品</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=62">木工品</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=69">漆器</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=79">陶磁器</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=89">染色品</a></li>
                                        <li class="area_pref"><a href="http://localhost/web/products/list?category_id=93">織物</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ec-role">
    <div class="ec-newsRole" id="what_new">
        <div class="ec-secHeading">
            {#<span class="ec-secHeading__en">{{ 'NEWS'|trans }}</span>#}
            {#<span class="ec-secHeading__line"></span>#}
            <div class="online_subtitle">
                {#<a class="all" href="http://localhost/densaku/products/list">すべて見る</a>#}
                {#<img class="icon_01" src="{{ asset('assets/img/icon_01.jpg') }}" width="30" height="33">#}
                <h2 class="online_subtitle_ttl_01">新着情報</h2>
            </div>
            {#<img class="icon_01" src="{{ asset('assets/img/icon_01.jpg') }}" width="30" height="33">#}
            {#<span class="ec-secHeading__en">{{ '新着情報'|trans }}</span>#}
        </div>
        <div class="ec-newsRole__news">
            {% for News in NewsList %}
                <div class="ec-newsRole__newsItem">
                    <div class="ec-newsRole__newsHeading">
                        <div class="ec-newsRole__newsDate">
                            {{ News.publish_date|date_day }}
                        </div>
                        <div class="ec-newsRole__newsColumn">
                            <div class="ec-newsRole__newsTitle">
                                {{ News.title }}
                            </div>
                            {#{% if News.description or News.url %}#}
                            {#    <div class="ec-newsRole__newsClose">#}
                            {#        <a class="ec-newsRole__newsCloseBtn">#}
                            {#            <i class="fas fa-angle-down"></i>#}
                            {#        </a>#}
                            {#    </div>#}
                            {#{% endif %}#}
                        </div>
                    </div>
                    <div class="ec-newsRole__newsDescription">
                        {{ News.description|raw|nl2br }}
                        {% if News.url %}
                            <br>
                            <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>{{ '詳しくはこちら'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>