{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-company h3 {
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    background-color: #f8f8f8;
	    margin-top: 30px;
	    margin-bottom: 20px;
	    font-weight: bold;
	    color: #DE5D50;
	}
	.company_table{
		width: 100%;
	    padding: 0;
	    margin: 10px 0 25px 0;
	}
	.company_table th {
	    vertical-align: top;
	    font-weight: bold;
	    border: 1px solid #ccc;
	    padding: 20px 10px;
	    /*background: #f1f2f3;*/
	    background-color: #DE5D50;
    	color: #fff;
	}
	.company_table td {
	    border: 1px solid #ccc;
	    padding: 20px 10px;
	}
	.company_table td li{
		list-style: none;
	}
@media only screen and (max-width: 767px){
		.ec-company{
			margin: .2rem;
		}
		.ec-company h2{
			font-size: .3rem;
		}
		.ec-company h3 {
			font-size: .24rem;
		    padding: .1rem;
		    margin-top: .15rem;
		    margin-bottom: .2rem;
		}
		.company_table{
			font-size: .14rem;
		    padding: 0;
		    margin: .1rem 0 .25rem 0;
		}
		.company_table th, .company_table td{
		    padding: .2rem .1rem;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-company{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-company">
	<div id="main2">
		<div id="mark_img">
			<h2>運営会社</h2>
		</div>
		<div id="post-29" class="post-29 page type-page status-publish hentry">
			<div class="entry-content">
				<h3>会社概要</h3>
				<table class="company_table">
					<tbody>
						<tr>
							<th>商号</th>
							<td>マネジメントパートナーズ株式会社</td>
						</tr>
						<tr>
							<th>所在地</th>
							<td>〒163-0713 東京都新宿区西新宿2-7-1 小田急第一生命ビル13F</td>
						</tr>
						<tr>
							<th>TEL</th>
							<td>03-6911-3025(代表)</td>
						</tr>
						<tr>
							<th>FAX</th>
							<td>03-6911-3026</td>
						</tr>
						<tr>
							<th>代表者名</th>
							<td>代表取締役社長　野澤 優治</td>
						</tr>
						<tr>
							<th>設立年月日</th>
							<td>平成18年9月1日</td>
						</tr>
						<tr>
							<th>資本金</th>
							<td>1000万円</td>
						</tr>
						<tr>
							<th>保有資格</th>
							<td>
								<ul>
									<li style="float:left; width:200px;">
										<img src="/html/template/default/assets/img/common/GoogleAdWords.gif" width="95" height="95">
										<br>
										GoogleAdWords<br>認定パートナー
									</li>
									<li style="float:left; width:200px; padding-top:20px;">
										<img src="/html/template/default/assets/img/common/yahoo.jpg" width="95" height="95"><br>
										Yahoo!プロモーション広告<br>正規代理店
									</li>
								</ul>
								<p><br class="clear">
								</p>
							</td>
						</tr>
						<tr>
							<th>加盟</th>
							<td>一般財団法人 伝統的工芸品産業振興協会（賛助会員）</td>
						</tr>
						<tr>
							<th>関連サイト</th>
							<td>
								<a onclick="javascript:pageTracker._trackPageview('/outgoing/www.management-partners.co.jp/');" href="//www.management-partners.co.jp/" target="_blank">株式会社マネジメントパートナーズ</a><img class="img_space" src="/html/template/default/assets/img/common/blank_img.gif"><br>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
