{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}
{% block stylesheet %}
<style>
    .article_edit_inner{
        max-width: 1120px;
        margin: 90px auto 0 auto;
        background: red;
    }
    .preview_form_table{
        width: 100%;
    }
    .preview_form_table tr td{
        vertical-align: top;
    }
    .preview_form_table td:first-child{
        width: 30%;
    }
    .preview_form_table td:last-child{
        width: 70%;
        padding: 0 0 0 20px;
    }
    .preview_form_table td img{
        width: 100%;
    }
    .preview_form_ttl_01{
        font-size: 16px;
        line-height: 1;
        color: #000;
        font-weight: bold;
        padding:15px 0;
        margin: 0;
    }
    .preview_form_txt_01{
        font-size: 14px;
        line-height: 1.5;
        color: #000;
    }
    .preview_form_table_01{
        padding: 30px 0;
    }
    .preview_form_table_01 td:first-child{
        width: 70%;
    }
    .preview_form_table_01 td:last-child{
        width: 30%;
    }
    .border_customize{
        border: 1px solid #150532;
    }
    .youtube_table td:first-child{
        width: 40%;
    }
    .youtube_table td:last-child{
        width: 60%;
        padding: 0 0 0 20px;
    }
    .youttube_video{
        width: 100%;
    }
    .youtube_video{
        position: relative;
        padding-bottom: 55.25%;
        padding-top: 0;
        height: 0;
    }
    .youtube_video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.preview_form_table_02 td,
	.preview_form_table_02 td:first-child,
	.preview_form_table_02 td:last-child{
	    padding: 15px;
	    width: 25%;
	}
	.image{
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        border: 1px dotted #150532;
    }
    .preview_form_table_02 .img_detailed_02{
        width: 100%;
        height: auto;
    }
    .preview_form_txl_02{
        font-size: 14px; 
        line-height: 1.3;
        color: #000;
        font-weight: normal;
        padding: 15px 0;
    }
    .information_ttl_01{
        font-size: 14px;
        line-height: 1;
        color: #000;
        font-weight: bold;
        padding: 0 0 0 15px;
        margin: 0;
    }
    .preview_form_table_04 td,
    .preview_form_table_04 td:last-child{
        padding: 15px;
        font-size: 14px;
        line-height: 1.3;
        color: #000;
        border: 1px solid #bdb1bf;
    }
    .preview_form_table_04 td:first-child{
        background: #f4e8f6;
    }
</style>
   
{% endblock %}

{% block javascript %}
   
{% endblock javascript %}

{% block main %}
     <div class="ec-sliderRole">
        <div class="article_edit_inner">
            <div class="online_subtitle">
                <img class="icon_01" src="{{ asset('assets/img/icon_01.jpg') }}" width="30" height="33">
                <h2 class="online_subtitle_ttl_01">詳細情報エリア </h2>
            </div>
            
            <table class="preview_form_table" cellpadding="0" cellspacing="0">
            	<tr>
            		<td>
            			<img src="{{ asset('assets/img/top/seasonal/img_seasonal_03.png') }}">
            		</td>
            
            		<td>
            			<h3 class="preview_form_ttl_01">木の神様に愛された伝統の工芸品</h3>
                        <p class="preview_form_txt_01">
            				和歌山が“木の国”と呼ばれる由縁は、 木の神である五十猛命（いたけるのみこと）が鎮座するからともいわれています。 深い山脈が連なる森の木々に神が宿る自然信仰。 その木の国の伝統的工芸品が「紀州箪笥」です。 素材は白く、軽く、柔らかな桐の木。 伸縮や狂いが少なく、火災からも“身を焼いて中身を救う”といわれることから、 衣装や財産の保管に適していました。 和歌山は組手等の工作が細かく正確なことでも知られています。
            			</p>
            		</td>
            	</tr>
            </table>
            <hr class="border_customize">
            
             <table class="preview_form_table preview_form_table_01" cellpadding="0" cellspacing="0">
            	<tr>
            		<td>
            			<h3 class="preview_form_ttl_01">木の神様に愛された伝統の工芸品</h3>
                        <p class="preview_form_txt_01">
            				和歌山が“木の国”と呼ばれる由縁は、 木の神である五十猛命（いたけるのみこと）が鎮座するからともいわれています。 深い山脈が連なる森の木々に神が宿る自然信仰。 その木の国の伝統的工芸品が「紀州箪笥」です。 素材は白く、軽く、柔らかな桐の木。 伸縮や狂いが少なく、火災からも“身を焼いて中身を救う”といわれることから、 衣装や財産の保管に適していました。 和歌山は組手等の工作が細かく正確なことでも知られています。
            			</p>
            		</td>
                       
            		<td>
            			 <img src="{{ asset('assets/img/top/seasonal/img_seasonal_03.png') }}">
            		</td>
            	</tr>
            </table>
            <hr class="border_customize">
            
             <table class="preview_form_table youtube_table" cellpadding="0" cellspacing="0">
            	<tr>
            		<td>
            		    <div class="youtube_video">
            		        <iframe class="video" src="https://www.youtube.com/embed/dENPJgwUICM" allowfullscreen="" frameborder="0"></iframe>
            		    </div>
            		</td>
                       
            		<td>
            			 <p class="preview_form_txt_01">
            				ワンピース公式トレーラー
            			</p>
            		</td>
            	</tr>
            </table>
            <hr class="border_customize">
            
            <table class="preview_form_table preview_form_table_02" cellpadding="0" cellspacing="0">
            	<tr>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02">木製飾棚二段梨地高雄黒</p>
            			</div>
            		</td>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02"></p>
            			</div>
            		</td>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02">江戸前すり口醤油注ぎ（小）</p>
            			</div>
            		</td>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02"></p>
            			</div>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02"></p>
            			</div>
            		</td>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02"></p>
            			</div>
            		</td>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02"></p>
            			</div>
            		</td>
            		<td>
            			<div class="image">
            				<img class="img_detailed_02" src="{{ asset('assets/img/category/img_default.jpg') }}">
            				<p class="preview_form_txl_02"></p>
            			</div>
            		</td>
            	</tr>
            </table>
            <hr class="border_customize">
            <h2 class="information_ttl_01">基本情報 </h2>
            <hr class="border_customize">
            <table class="preview_form_table preview_form_table_04" cellpadding="0" cellspacing="0">
            	<tr>
            		<td>
            			商号
            		</td>
            		<td>
            			thetthiri
            		</td>
            	</tr>
            	<tr>
            		<td>
            			設立
            		</td>
            		<td>
            			
            		</td>
            	</tr>
            	<tr>
            		<td>
            			住所
            		</td>
            		<td>
            			大館市役所20中条
            		</td>
            	</tr>
            	<tr>
            		<td>
            			従業員数
            		</td>
            		<td>
            			
            		</td>
            	</tr>
            	<tr>
            		<td>
            			取り扱い品目
            		</td>
            		<td>
            			テスト
            		</td>
            	</tr>
            	<tr>
            		<td>
            			メールアドレス
            		</td>
            		<td>
            			thetthiri@management-partners.co.jp
            		</td>
            	</tr>
            </table>
        </div>
        
        
        
        
        
    </div>
{% endblock %}