{% set tag = 'お中元　お歳暮' %}
{% set query = repository('Eccube\\Entity\\Product').createQueryBuilder('p').innerJoin('p.ProductTag','pt').innerJoin('pt.Tag','t').where('t.name = :tag').andWhere('p.Status = 1').setParameter('tag', tag).orderBy('p.create_date', 'DESC').addOrderBy('p.id', 'DESC').getQuery() %}
{% set products = query.getResult() %}

{% set count = products|length %}
{% if count == 0  %}
{% set count = 1 %}
{% endif %}
{% if count > 6  %}
{% set count = 6 %}
{% endif %}

{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}
{% block stylesheet %}
<style>
	.ec-layoutRole{
        padding: 0 !important;
    }
    .ec-layoutRole .ec-layoutRole__contents{
        max-width: 100%;
    }
    .top_mv{
        background: url("{{ asset('assets/img/gift/gift_main_bg.jpg') }}") no-repeat top center;
        background-size: cover;
        padding: 230px 0 320px 0;
    }
    .mv_logo_content{
        position: relative;
    }
    .mv_table{
        width: 84%;
        margin: 0 auto;
        max-width: 1024px;
        background: rgba(0,0,0,.69);
        width: 100%;
        text-align: center;
    }
    .mv_logo_content tr td{
        width: 50%;
        padding: 15px 0;
    }
    .mv_logo{
        width: 38%;
        height: auto;
    }
    .mv_logo_txt{
        font-size: 24px;
        line-height: 1;
        color: #fff;
        font-weight: normal;
        padding: 0;
        margin: 0;
        font-family: 'Sawarabi Mincho', sans-serif;
    }
    .customize_line{
        position: absolute;
        top: auto;
        bottom: 31%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .customize_line li{
        width: 20%;
        float: left;
        list-style-type: none;
    }
    .line_red,
    .line_blue,
    .line_yellow,
    .line_green,
    .line_purple{
        content: "";
        background: #811200;
        color: red;
        width: 100%;
        height: 5px;
    }
    .line_blue{
        background: #001cff;
    }
    .line_yellow{
        background: #a78000;
    }
    .line_green{
        background: #3a7300;
    }
    .line_purple{
        background: #690081;
    }
    .gift_header_logo{
        width: 75%;
        height: auto;
    }
    .ec-footerRole{
        background: #292c27 !important;
    }
    .ec-footerTitle{
        background: rgba(0,0,0,.69) !important;
    }
    .arrow-up{
        border-bottom: 17px solid #594598 !important; 
    }
    .gift_seasonal .line_vertical{
        background: #d171f7;
    }
    .line_vertical {
        content: "";
        background: #3a7300;
        width: 4px;
        height: 100px;
        position: absolute;
        left: 20px;
        top: -8px;
    }
    .gift_seasonal{
        background: url("{{ asset('assets/img/gift/bg_gift_seasonal.jpg') }}") no-repeat top center;
        background-size: cover; 
        margin: 80px 0;
        padding: 0 0 65px 0;
    }
    .gift_seasonal .online_subtitle{
        padding: 30px 0 15px 15px !important;
        margin: 0 30px 65px 30px !important;
    }
    .gift_seasonal .online_subtitle_ttl_01,
    .gift_seasonal .online_subtitle .all{
        color: #fff !important;
    }
    .gift_seasonal .line{
        margin-top: 6% !important;
        border-bottom: 1pt solid #fff;
    }
    .table_gift{
        width: 80%;
        max-width: 830px;
        margin: 0 auto 18px auto;
        text-align: center;
    }
    .table_gift tr td:nth-child(odd){
        width: 66.67%;
 		vertical-align: top;
    }
    .table_gift tr td:nth-child(even){
        width: 33.333%;
    }
    .table_gift tr td img{
        width: 93%;
    }
    .gift_content{
        background: rgba(0,0,0,.67);
        width: 96.5%;
        margin: 0 auto;
        text-align: left;
        padding: 6% 15px;
    }
    .gift_txt_01{
       font-size: 1.25em;
        line-height: 1.6;
        color: #fff;
        margin: 0 0 2% 0;
    }
    .table_gift_01 tr td:nth-child(odd),
    .table_gift_01 tr td:nth-child(even){
        width: 50%;
    }
    .gift{
        padding: 0 30px !important;
    }
    #gift_slick {
        width: 95%;
        margin: 0 auto;
    }
    .gift_list{
        width: 100%;
        padding: 0 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .gift_list li{
        width: 16.666%;
        float: left;
        padding: 0 10px;
        list-style-type: none;
    }
    .gift_list_txt_01{
        margin: 20px 0 10px 0;
        font-size: 14px;
        line-height: 1.4;
        font-weight: bold;
        color: #000;
    }
    .gift_list_txt_02{
        font-size: 12px;
        line-height: 1;
        color: #700101;
        font-weight: bold;
        margin: 0 0 30px 0;
    }
    .line{
        margin-top: 5% !important;
    }
    .online_subtitle{
        padding: 30px 0 15px 15px !important;
        margin: 0 0 40px 0 !important;
    }
    .clearfix:after{
    	height: 0;
    	display :block;
    	clear: both;
    	content: "";
    }
    .gift_slider .main_slick{
        width: 100%;
        margin: 97px auto 0 auto;
        max-width: 1130px;
        padding: 0 30px;
    }
    }
    /*slick_arrow*/
    .slick-next,
    .slick-prev{
        
    }
    .slick-prev{
        background: url("{{ asset('assets/img/slider_arrow_left.png') }}") no-repeat center left;
        background-size: 25px auto;
        left: -25px;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 32%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: 1px solid transparent;
        outline: 1px solid transparent;
    }
    .slick-next{
        background: url("{{ asset('assets/img/slider_arrow_right.png') }}") no-repeat center left;
        background-size: 25px auto;
        right: -25px;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 32%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: 1px solid transparent;
        outline: 1px solid transparent;
    }
    .ec-newItemRole .ec-newItemRole__listItem:nth-child(even),
    .ec-newItemRole .ec-newItemRole__listItem:nth-child(odd){
        margin: 0 10px;
    }
    .ec-newItemRole .ec-newItemRole__listItemPrice{
        color: #700101;
        font-weight: bold;
    }
    /*end of slick_arrow*/
 	/*For SP*/
    @media only screen and (max-width: 767px){
        .top_mv{
            padding: 1.90rem 0 1.20rem 0;
        }
        .mv_table{
            max-width: 85%;
        }
        .mv_logo_txt{
            font-size: .24rem;
        }
        .line_red,
        .line_blue,
        .line_yellow,
        .line_green,
        .line_purple{
            height: .05rem;
        }
        .ec-role{
            font-size: .16rem;
        }
        .gift_seasonal{
            margin: .50rem 0;
            padding: 0 0 .50rem 0;
        }
        .gift_seasonal .line{
            margin-top: .55rem !important;
        }
        .gift_txt_01{
            font-size: .12rem;
        }
        .gift_content{
            padding: .16rem;
        }
        .gift_seasonal .online_subtitle{
            padding: .30rem 0 .15rem .15rem !important;
            margin: 0 .30rem .65rem .30rem !important;
        }
        .online_subtitle {
            padding: .30rem 0 .15rem .15rem !important;
            margin: 0 0 .40rem 0 !important;
        }
        .line_vertical {
            width: .04rem;
            height: 1.00rem;
            left: .20rem;
            top: -.08rem;
        }
        .line{
            margin-top: .56rem !important;
        }
        .gift_slider .main_slick{
            margin: .50rem auto 0 auto;
        }
        .arrow-up{
            border-bottom: .17rem solid #594598 !important; 
        }
        .gift {
            padding: 0 .30rem !important;
        }
        .gift_list_txt_01{
            margin: .20rem 0 .10rem 0;
            font-size: .14rem;.
        }
        .gift_list_txt_02{
            font-size: .12rem;.
            margin: 0 0 .30rem 0;
    }
    }
    /*end of SP*/

    
</style>
   
{% endblock %}

{% block javascript %}
 <script src="{{ asset('assets/js/common_job.js') }}"></script>
   <script>
        $(function() {
            $('#gift_slick').slick({
                slidesToShow: {{ count }},
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                arrows: true,
                infinite: true,
                responsive: [
                {
                    breakpoint: 980,
                    settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: false,
                    autoplaySpeed: 2000,
                  }
                },
                {
                    breakpoint: 769,
                    settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    autoplay: false,
                    autoplaySpeed: 2000
                  }
                }
              ]
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
     <div class="gift_seasonal">
        <div class="ec-role">
            <div class="custom_line">
                <hr class="line">
                <div class="line_vertical"></div>
            </div>
            <div class="online_subtitle">
                <h2 class="online_subtitle_ttl_01">季節の贈り物</h2>
            </div>
        </div>
        <table class="table_gift">
            <tr>
                <td>
                    <div class="gift_content">
                        <p class="gift_txt_01">
                            両親やご親戚、お世話になった方々へ贈るお中元。<br>
                            喜ばれるものを選びたいですね。<br>
                            伝索ならではの豊富な品揃え。<br>
                            贈る相手やご予算に合わせてお選びいただけます。
                        </p>
                        <p class="gift_txt_01">
                            ご縁をつないでいく初夏のご挨拶、<br>
                            思いが伝わる夏ギフトを送りましょう。
                        </p>
                    </div>
                </td>
                <td>
                    <img class="img_gift_seasonal" src="{{ asset('assets/img/gift/img_gift_seasonal_01.jpg') }}">
                </td>
            </tr>
        </table>
        <table class="table_gift">
            <tr>
                <td>
                    <table class="table_gift_01">
                        <tr>
                            <td>
                                <img class="img_gift_seasonal" src="{{ asset('assets/img/gift/img_gift_seasonal_02.jpg') }}">
                            </td>
                            <td>
                                <img class="img_gift_seasonal" src="{{ asset('assets/img/gift/img_gift_seasonal_03.jpg') }}">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <img class="img_gift_seasonal" src="{{ asset('assets/img/gift/img_gift_seasonal_04.jpg') }}">
                </td>
            </tr>
        </table>
    </div>
    <div class="ec-role ec-sliderRole gift_slider">
        <div class="custom_line">
            <hr class="line">
            <div class="line_vertical"></div>
        </div>
    <div class="ec-newItemRole main_slick gift">
        <div class="online_subtitle">
            <h2 class="online_subtitle_ttl_01">商品一覧</h2>
            <a class="all" href="{{ url('user_data',{'route':'gift_all'}) }}">すべて見る
                <img class="icon_arrow_right" src="{{ asset('assets/img/icon_arrow_right.png') }}" width="20" height="auto">
            </a>
        </div>
        <div class="ec-newItemRole__list" id="gift_slick">
            {% for product in products %}
            <div class="ec-newItemRole__listItem item slick-slide">
                <a href="{{ url('product_detail', {'id': product.id}) }}">
                    <div class="slide_image">
                        <img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}">
                    </div>
                    <p class="gift_list_txt_01">{{ product.name }}</p>
                    <p class="gift_list_txt_02">
                        {% if product.hasProductClass %}
                            {% if product.getPrice02Min == product.getPrice02Max %}
                                {{ product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ product.getPrice02IncTaxMin|price }} ～ {{ product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ product.getPrice02IncTaxMin|price }}
                        {% endif %}
                        (税込)
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}