{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-ownerhelp h2 {
	    padding: 10px;
	    margin-top: 30px;
	    margin-bottom: 0px;
	    font-weight: bold;
	    color: #DE5D50;
	}
    .ec-ownerhelp h3 {
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    background-color: #f8f8f8;
	    margin-top: 10px;
	    margin-bottom: 20px;
	    font-weight: bold;
	    color: #DE5D50;
	}
	.ec-ownerhelp h5{
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    
	    background-color: #f8f8f8;
	    border-left: 5px solid #DE5D50;
	    color: #DE5D50;
	}
	.business_flow{
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.business_flow p{
		line-height: 1.5;
	}
	.kigyo_help_menu{
		margin-top: 20px;
		padding-left: 20px;
	}
	.help_menu_entry{
		margin-bottom: 20px;
	}
	.product_flow{
		margin-top: 20px;
	}
	.product_flow p{
		margin-bottom: 15px;
		line-height: 1.5;
	}
	@media only screen and (max-width: 767px){
		.ec-ownerhelp{
			margin: .2rem;
			margin-top: 0;
		}
		.ec-ownerhelp h2 {
		    padding: .1rem;
		    margin-top: .3rem;
		    margin-bottom: 0;
		    font-size: .3rem;
		}
	    .ec-ownerhelp h3 {
		    padding: .1rem;
		    margin-top: .1rem;
		    margin-bottom: .2rem;
		    font-size: .24rem;
		}
		.ec-ownerhelp h5{
		    padding: .1rem;
		    margin-right: 0;
		    font-size: .14rem;
		}
		.business_flow{
			margin-top: .2rem;
			margin-bottom: .3rem;
			font-size: .14rem;
		}
		.kigyo_help_menu{
			margin-top: .2rem;
			padding-left: .2rem;
		}
		.help_menu_entry{
			margin-bottom: .2rem;
			font-size: .14rem;
		}
		.product_flow{
			margin-top: .2rem;
			font-size: .14rem;
		}
		.product_flow p{
			margin-bottom: .15rem;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-ownerhelp{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-ownerhelp">
	<div id="main2">
		<h2>ヘルプ</h2>
		<div id="post-29" class="post-29 page type-page status-publish hentry">
			<div class="entry-content">
				<h3>事業者会員のためのヘルプ</h3>
				<h5>事業者情報登録の流れ</h5>
				<div class="business_flow">
					<p><strong>STEP1　メールアドレス送信</strong><br>
					登録用メールアドレスを入力して、登録を押してください。</p>
					<p>▼</p>
					<p>STEP2<br><br>
					<strong>メールアドレス確認</strong><br>
					本登録手続き用のURLにアクセスしてください。</p>
					<p>▼</p>
					<p>STEP3<br><br>
					<strong>新規会員登録</strong><br>
					必須項目を入力した上、確認ボタンを押してください</p>
					<p>▼</p>
					<p>STEP4<br><br>
					<strong>登録内容確認</strong><br>
					登録内容を確認し、不備がない上、完了ボタンを押してください。</p>
					<p>▼</p>
					<p>ご登録完了</p>
				</div>
				<h5>事業者管理画面のご案内</h5>
				<div class="kigyo_help_menu">
					<div class="help_menu_entry">
						<span>■事業者紹介編集</span>
						<p>紹介ページの記事情報を入力することができます</p>
					</div>
					<div class="help_menu_entry">
						<span>■商品登録</span>
						<p>商品販売の商品登録することができます</p>
					</div>
					<div class="help_menu_entry">
						<span>■商品一覧</span>
						<p>登録している商品の検索・情報の編集ができます</p>
					</div>
					<div class="help_menu_entry">
						<span>■メールアドレス変更</span>
						<p>登録メールアドレスの変更ができます</p>
					</div>
					<div class="help_menu_entry">
						<span>■パスワード変更</span>
						<p>登録パスワードの変更ができます</p>
					</div>
					<div class="help_menu_entry">
						<span>■お問い合わせ</span>
						<p>事業者会員様専用の問い合わせフォームです</p>
					</div>
					<div class="help_menu_entry">
						<span>■退会</span>
						<p>退会手続きを行うことができます</p>
					</div>
				</div>
				<h5>商品掲載までの流れ</h5>
				<div class="product_flow">
					<p>
					<strong>STEP1　商品　新規作成</strong><br>
					商品登録メニューを選択します。</p>
					<p>▼</p>
					<p><strong>STEP2　商品　新規作成　-　入力</strong><br>
					商品情報に必須項目を入力の上、ご確認にお進みください。<br>
					確認画面から完了を押して頂くとご登録完了になります。</p>
					<p>▼<br></p>
					<p><strong>STEP3　商品登録確認</strong><br>
					商品登録を行ったものは紹介ページ「販売商品」と商品ページに公開されます。</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
