{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-ownerqa h3 {
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    background-color: #f8f8f8;
	    margin-top: 10px;
	    margin-bottom: 20px;
	    font-weight: bold;
	    color: #DE5D50;
	}
	.ec-ownerqa h5 {
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    
	    background-color: #f8f8f8;
	    border-left: 5px solid #DE5D50;
	    color: #DE5D50;
	}
	.helpbox{
		margin-top: 30px;
	}
	.qa-block{
		display: block;
		margin-bottom: 20px;
	}
	.qa-block p{
		line-height: 1.5;
	}
	.question{
		color: #DE5D50;
	}
	.answer img{
		width: auto;
		float: left;
	}
	.answer span, .question span{
		display: inline-block;
		margin-top: 10px;
		line-height: 1.5;
	}
@media only screen and (max-width: 767px){
		.ec-ownerqa{
			margin: .2rem;
			margin-top: 0;
		}
		.ec-ownerqa h3 {
		    padding: .1rem;
		    margin-top: .1rem;
		    margin-bottom: .2rem;
		    font-size: .24rem;
		}
		.ec-ownerqa h5 {
		    padding: .1rem;
		    margin-right: 0;
		    font-size: .14rem;
		}
		.helpbox{
			margin-top: .3rem;
			font-size: .14rem;
		}
		.qa-block{
			margin-bottom: .2rem;
			display: inline-block;
			width: 100%;
		}
		.question span{
    		width: 92%;
		}
		.answer span{
			margin-top: .1rem;
			float: right;
    		width: 88%;
		}

	}
	@media only screen and (max-width: 500px){
		.answer span{
    		width: 85%;
		}
		.question span {
		    width: 89%;
		}
	}
	@media only screen and (max-width: 348px){
		.answer span{
    		width: 84%;
		}
		.question span{
    		width: 88%;
		}
	}
	@media only screen and (max-width: 326px){
		.answer span{
    		width: 83%;
		}
		.question span{
    		width: 88%;
		}
	}
	@media only screen and (max-width: 320px){
		.answer span{
    		width: 83%;
		}
		.question span{
    		width: 87%;
		}
	}
	@media only screen and (max-width: 307px){
		.answer span{
    		width: 80%;
		}
		.question span{
    		width: 86%;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-ownerqa{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-ownerqa">
	<div id="main2">
		<h3>よくある質問</h3>
		<div id="post-29" class="post-29 page type-page status-publish hentry">
			<div class="entry-content">
				<h5>事業者会員様、販売を考えてる事業者様のお悩みを解決させて頂きます</h5>
				<div class="helpbox">
					<div class="qa-block">
						<p class="question">
						<img src="/html/template/default/assets/img/common/ques-img.png">
						<span>事業者会員の登録は無料なの？</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>事業者会員の登録は無料です。<br>年会費等もございません。</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>事業者のURLは掲載できないの？</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>申し訳ございませんが掲載できません。</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>商品掲載は何点まで登録できるの？</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>商品掲載は何点でも掲載可能となっております。<br>
								また、事業者会員様で掲載できない場合、伝索運営係で5点まで無料で代行掲載させて頂きます。<br>
								（現在、キャンペーン期間の為、全て代行掲載させて頂きます）
							</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>予定の納期より遅れそうな時は？</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>伝索運営係にお電話またはメールでご連絡ください。</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>もっとカスタマイズできないの？</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>申し訳ございませんが事業者様のアカウントでは現在変更不可となっております。<br>その際、伝索運営係にご相談ください。</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>ネットショップを開業するために、必要なものはありますか？</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>パソコン・デジカメ・インターネットに接続する環境は最低限ご用意下さい。</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>ユーザIDを忘れてしまったのですが</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>
								申し訳ございませんが、ユーザIDは大事に保管しておいてください。<br>
								万一紛失してしまった場合は、伝索運営係にご相談ください。
							</span>
						</p>
					</div>
					<div class="qa-block">
						<p class="question">
							<img src="/html/template/default/assets/img/common/ques-img.png">
							<span>パスワードを忘れたのですが。</span>
						</p>
						<p class="answer">
							<img src="/html/template/default/assets/img/common/reply-arrow.png">
							<span>パスワード再設定申請で、再度パスワードの設定を行ってください。</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
