{#
This file is part of EC-CUBE
Copyright(c) LOCKON CO.,LTD. All Rights Reserved.
http://www.lockon.co.jp/
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% set body_class = 'product_page' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .table_type1, .table_type2 {
        width: 98%;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .table_type1 tr, .table_type2 tr {
        border-bottom: 1px solid #ccc;
    }
    .table_type1 th {
        padding: 10px;
        background-color: #DE5D50;
        color: #fff;
        font-weight: normal;
        padding-left: 5px;
        width: 200px;
        vertical-align: initial;
        font-weight: 400;
    }
    .table_type2 th, .table_type1 td, .table_type2 td {
        padding: 10px;
        line-height: 2;
    }
    .table_type2 th, .table_type2 td{
        border-left: 1px solid #ddd;
        vertical-align: top;
    }
    .pay_box2 span{
    	display: inline-block;
    	margin-top: 20px;
    }
    .pay_box2 .table_type1{
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .pay_box2 p{
        line-height: 1.5;
        padding: 10px 0;
    }
    .ec-payment h4, .ec-payment h5{
        border-bottom: 1px dotted #ddd;
    	border-top: 1px dotted #ddd;
        padding: 10px;
       
        background-color: #f8f8f8;
        border-left: 5px solid #DE5D50;
        color: #DE5D50;
    }
    .ec-payment h3{
        font-weight: bold;
        padding: 10px;
        padding-left: 0;
    }
    .table_type2 a{
    	color: #000;
    }
    .table_type2 a:hover{
    	color: #337ab7;
    }
 @media only screen and (max-width: 767px){
    	.ec-payment{
    		margin: .2rem;
    		margin-top: .1rem;
    	}
	    .table_type1, .table_type2 {
	    	width: 100%;
	        margin-bottom: .1rem;
	        font-size: .14rem;
	    }
	    .table_type1 th, .table_type1 td{
	        padding: .1rem;
	    }
	    .table_type1 th {
	        padding-left: .05rem;
	    }
	    .table_type2 th,.table_type2 td {
	        padding: .05rem;
	    }
	    .pay_box2 span{
	    	margin-top: .2rem;
	    	font-size: .14rem;
	    }
	    .pay_box2 .table_type1{
	        margin-bottom: .3rem;
	        margin-top: .1rem;
	        font-size: .14rem;
	    }
	    .pay_box2 p{
	        padding: .1rem 0;
	        font-size: .14rem;
	    }
	    .ec-payment h4, .ec-payment h5{
	        padding: .1rem;
	        margin-right: 0;
	        font-size: .18rem;
	    }
	    .ec-payment h3{;
	        padding: .1rem;
	        padding-left: 0;
	        font-size: .24rem;
	    }	
	}
	@media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-payment{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}
{% block javascript %}
{% endblock %}
{% block main %}
<div class="ec-payment">
    <div id="main2">
        <div id="post-5805" class="post-5805 page type-page status-publish hentry">
			<div class="entry-content">
				<p><a name="tokutei"></a></p>                
                <h3>お支払い方法・配送方法・送料について</h3>
                <div class="pay_box2">
                    <h4>お支払い方法</h4>
                    <p>■クレジットカード<br>
						クレジットカードでお支払い頂けます。<br>
						【取扱カード】 取り扱いカードは以下のとおりです。<br>
						すべてのカード会社で、一括払いが可能となっております<br>
						<img src="/html/template/default/assets/img/common/kessaicard.png">
                    </p>
                    <p>■銀行振込<br>
						銀行振込でお支払い頂けます。<br>
						※【ご注文内容の確認】メール到着後、7日以内にお振込をお願い致します。
                    </p>
                    <span>※振込み手数料はお客様のご負担でお願い致します。</span>
                     <table id ="table_type1" class="table_type1">
                        <tbody>
                            <tr>
                                <th class="w150">銀行名</th>
                                <td>三菱東京UFJ銀行</td>
                            </tr>
                            <tr>
                                <th>支店名</th>
                                <td>新宿中央支店</td>
                            </tr>
                            <tr>
                                <th>口座名義</th>
                                <td>マネジメントパートナーズ（カ</td>
                            </tr>
                            <tr>
                                <th>預金科目</th>
                                <td>普通</td>
                            </tr>
                            <tr>
                                <th>口座番号</th>
                                <td>5796759</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>配送方法・送料</h4>
                    <p>
                        ヤマト運輸（通常配送）での発送になります。
                    </p>
                     <table id= "table_type2" class="table_type2">
						<tbody>
							<tr>
								<th>地域</th>
								<th>発地	</th>
								<th><a href="#01">北海道</a></th>
								<th><a href="#02">北東北</a></th>
								<th><a href="#03">南東北</a></th>
								<th><a href="#04">関東</a></th>
								<th><a href="#05">信越</a></th>
								<th><a href="#06">北陸</a></th>
								<th><a href="#07">中部</a></th>
								<th><a href="#08">関西</a></th>
								<th><a href="#09">中国</a></th>
								<th><a href="#10">四国</a></th>
								<th><a href="#11">九州</a></th>
								<th><a href="#12">沖縄</a></th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>北海道</td>
								<td>青森県<br>秋田県<br>岩手県</td>
								<td>宮城県<br>山形県<br>福島県</td>
								<td>茨城県<br>栃木県<br>群馬県<br>埼玉県<br>千葉県<br>神奈川県<br>東京都<br>山梨県</td>
								<td>新潟県<br>長野県</td>
								<td>富山県<br>石川県<br>福井県</td>
								<td>静岡県<br>愛知県<br>三重県<br>岐阜県</td>
								<td>大阪府<br>京都府<br>滋賀県<br>奈良県<br>和歌山県<br>兵庫県</td>
								<td>岡山県<br>広島県<br>山口県<br>鳥取県<br>島根県</td>
								<td>香川県<br>徳島県<br>愛媛県<br>高知県</td>
								<td>福岡県<br>佐賀県<br>長崎県<br>熊本県<br>大分県<br>宮崎県<br>鹿児島県</td>
								<td>沖縄県</td>
							</tr>
							<tr>
								<th>着地</th>
								<th></th>
								<th>北海道</th>
								<th>北東北</th>
								<th>南東北</th>
								<th>関東</th>
								<th>信越</th>
								<th>北陸</th>
								<th>中部</th>
								<th>関西</th>
								<th>中国</th>
								<th>四国</th>
								<th>九州</th>
								<th>沖縄</th>
							</tr>
							<tr>
								<td>北海道</td>
								<td> </td>
								<td>930</td>
								<td>1150</td>
								<td>1260</td>
								<td>1370</td>
								<td>1370</td>
								<td>1480</td>
								<td>1480</td>
								<td>1700</td>
								<td>1810</td>
								<td>1810</td>
								<td>2030</td>
								<td>2030</td>
							</tr>
							<tr>
								<td>北東北</td>
								<td> </td>
								<td>1150</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1040</td>
								<td>1150</td>
								<td>1150</td>
								<td>1260</td>
								<td>1370</td>
								<td>1370</td>
								<td>1590</td>
								<td>1700</td>
							</tr>
							<tr>
								<td>南東北</td>
								<td> </td>
								<td>1260</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1040</td>
								<td>1150</td>
								<td>1370</td>
								<td>1370</td>
								<td>1590</td>
								<td>1590</td>
							</tr>
							<tr>
								<td>関東</td>
								<td> </td>
								<td>1370</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1150</td>
								<td>1150</td>
								<td>1370</td>
								<td>1370</td>
							</tr>
							<tr>
								<td>信越</td>
								<td> </td>
								<td>1370</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1150</td>
								<td>1150</td>
								<td>1370</td>
								<td>1480</td>
							</tr>
							<tr>
								<td>北陸</td>
								<td> </td>
								<td>1480</td>
								<td>1150</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1040</td>
								<td>1150</td>
								<td>1480</td>
							</tr>
							<tr>
								<td>中部</td>
								<td> </td>
								<td>1480</td>
								<td>1150</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1040</td>
								<td>1150</td>
								<td>1370</td>
							</tr>
							<tr>
								<td>関西</td>
								<td> </td>
								<td>1700</td>
								<td>1260</td>
								<td>1150</td>
								<td>1040</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1370</td>
							</tr>
							<tr>
								<td>中国</td>
								<td> </td>
								<td>1810</td>
								<td>1370</td>
								<td>1370</td>
								<td>1150</td>
								<td>1150</td>
								<td>1040</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1370</td>
							</tr>
							<tr>
								<td>四国</td>
								<td> </td>
								<td>1810</td>
								<td>1370</td>
								<td>1370</td>
								<td>1150</td>
								<td>1150</td>
								<td>1040</td>
								<td>1040</td>
								<td>930</td>
								<td>930</td>
								<td>930</td>
								<td>1040</td>
								<td>1370</td>
							</tr>
							<tr>
								<td>九州</td>
								<td> </td>
								<td>2030</td>
								<td>1590</td>
								<td>1590</td>
								<td>1370</td>
								<td>1370</td>
								<td>1150</td>
								<td>1150</td>
								<td>1040</td>
								<td>930</td>
								<td>1040</td>
								<td>930</td>
								<td>1260</td>
							</tr>
							<tr>
								<td>沖縄</td>
								<td> </td>
								<td>2030</td>
								<td>1700</td>
								<td>1590</td>
								<td>1370</td>
								<td>1480</td>
								<td>1480</td>
								<td>1370</td>
								<td>1370</td>
								<td>1370</td>
								<td>1370</td>
								<td>1260</td>
								<td>930</td>
							</tr>
						</tbody>
					</table>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}