{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
     .entry-content h3{
        margin-top: 30px;
    }
    .table_type1, .table_type2 {
        width: 98%;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .table_type1 tr, .table_type2 tr {
        border-bottom: 1px solid #ccc;
    }
    .table_type1 th {
        padding: 10px;
        background-color: #DE5D50;
        color: #fff;
        font-weight: normal;
        padding-left: 5px;
        width: 200px;
        vertical-align: initial;
        font-weight: 400;
    }
    .table_type1 td, .table_type2 td {
        padding: 10px;
        line-height: 2;
    }
    .table_type2 td{
        border-left: 1px solid #ddd;
    }
   .commercial-law, .payment-method, .delivery-method{
        margin-top: 20px;
    }
    .payment-method .table_type1{
        margin-bottom: 30px;
    }
    .payment-method p, .delivery-method p{
        line-height: 1.5;
        padding: 10px 0;
    }
    .ec-payment h3, .ec-payment h4, .ec-payment h5{
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 10px;  
        background-color: #f8f8f8;
    }
    .ec-payment h3{
        color: #DE5D50;
        font-weight: bold;
    }
 @media only screen and (max-width: 767px){
        .ec-payment{
            font-size: .14rem;
        }
        .h1, .h2, .h3, h1, h2, h3 {
            margin-top: .2rem;
            margin-bottom: .1rem;
        }
        .ec-payment h2{
            margin: .2rem;
            font-size: .3rem;
        }
        .ec-payment h3, .ec-payment h4, .ec-payment h5 {
            font-size: .24rem;
            padding: .1rem;
            margin: .2rem;
            margin-bottom: .15rem;
        }
        .ec-payment h4{
            font-size: .18rem;
            margin: .2rem 0;
            font-weight: bold;
        }
        .commercial-law, .payment-method, .payment-method p, .delivery-method{
            font-size: .14rem;
            margin: .2rem;
        }
        .payment-method h3{
            margin: .2rem 0;
        }
        .delivery-method h4{
            margin: 0;
        }
        .table_type1, .table_type2 {
            width: 100%;
            margin-bottom: .1rem;
            font-size: .14rem;
            padding: 0 .2rem;
        }
        .table_type1 th {
            padding: .1rem;
            padding-left: .05rem;
        }
        .table_type1 td, .table_type2 td {
            padding: .1rem;
        }
        .payment-method .table_type1 {
            margin-bottom: .3rem;
        }
        .payment-method p {
            padding: .1rem 0;
            padding-top: 0;
            margin: 0;
            margin-bottom: .1rem;
        }   
    }
    @media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-payment{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}

{% block main %}
<div class="ec-payment">
    <div id="main2">
        <div id="mark_img">
            <h2>ご利用案内</h2>
        </div>
        <div id="post-5805" class="post-5805 page type-page status-publish hentry">
            <!-- <h1 class="entry-title">ご利用案内</h1> -->
            <div class="entry-content">
                <p><a name="tokutei"></a></p>
                <h3>特定商取引法に基づく表記</h3>
                <div class="commercial-law">
                    <table class="table_type1">
                        <tbody>
                            <tr>
                                <th class="w150">販売業者</th>
                                <td>マネジメントパートナーズ株式会社</td>
                            </tr>
                            <tr>
                                <th class="w150">代表責任者</th>
                                <td>代表取締役社長 原澤 健人</td>
                            </tr>
                            <tr>
                                <th class="w150">所在地</th>
                                <td>〒163-0713 東京都新宿区西新宿2-7-1 小田急第一生命ビル13F</td>
                            </tr>
                            <tr>
                                <th class="w150">電話番号</th>
                                <td>03-6911-3025</td>
                            </tr>
                            <tr>
                                <th class="w150">電話受付時間</th>
                                <td>09：00～17：30（土日祝日除く）</td>
                            </tr>
                            <tr>
                                <th class="w150">メールアドレス</th>
                                <td>info@den-saku.com</td>
                            </tr>
                            <tr>
                                <th class="w150">ホームページ</th>
                                <td>//www.den-saku.com/</td>
                            </tr>
                            <tr>
                                <th class="w150">販売価格</th>
                                <td>各商品ページに記載</td>
                            </tr>
                            <tr>
                                <th class="w150">商品引き渡し時期</th>
                                <td>
                                    ■ご注文点数内で在庫がある場合、正式受注後（ご入金確認）最短で発送致します。<br>
                                    ■受注生産品は注文から2か月以内に発送いたします。<br>
                                    ■目安としては通常2～7日で商品を発送させて頂きます。<br>
                                    ※地域や道路状況、その他不測の事態によって変動する場合がございますので、ご了承ください。<br>
                                    ※商品によって注文が集中した場合、発送 にお時間をいただくことがございます。<br>
                                    ※当店の商品はネット上で販売するだけでなく、実店舗でも同様に商品を販売をしております。随時ネット上の在庫は変更しておりますが、ご注文を頂いても在庫切れの場合がございますので予めご了承ください。また、お支払方法が銀行振込の場合は当店より在庫確認のお知らせが届いた後にお振込の手続きをお願い致します <br>
                                    ※納期のかかるものにつきましては、別途ご案内いたします。
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">お支払い方法</th>
                                <td>
                                        ■クレジットカード決済<br>
                                        ■コンビニ決済<br>
                                        ■銀行振込
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">お支払い期日</th>
                                <td>
                                    ■クレジット決済　即日決済<br>
                                    ■コンビニ決済　　注文日より７日以内<br>
                                    ■銀行振込　　　　注文日より７日以内<br>
                                    ※コンビニ決済・銀行振込をお選びの方へ<br>
                                    支払期日を過ぎた時点で自動キャンセルさせて頂きます。<br>
                                    尚、キャンセル商品をご希望の場合、再度ご注文ください。
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">コンビニ決済に関して</th>
                                <td>
                                    各コンビニでのお支払い方法は下記となります。<br>
                                    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.digitalcheck.co.jp/service/guide/seven.html');" href="//www.digitalcheck.co.jp/service/guide/seven.html" target="_blank">セブン-イレブン</a><br>
                                    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.digitalcheck.co.jp/service/guide/lawson.html');" href="//www.digitalcheck.co.jp/service/guide/lawson.html" target="_blank">ローソン</a><br>
                                    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.digitalcheck.co.jp/service/guide/seico.html');" href="//www.digitalcheck.co.jp/service/guide/seico.html" target="_blank">セイコーマート</a><br>
                                    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.digitalcheck.co.jp/service/guide/ministop.html');" href="//www.digitalcheck.co.jp/service/guide/ministop.html" target="_blank">ミニストップ</a><br>
                                    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.digitalcheck.co.jp/service/guide/famima.html');" href="//www.digitalcheck.co.jp/service/guide/famima.html" target="_blank">ファミリーマート</a><br>
                                    <a href="//www.digitalcheck.co.jp/service/guide/onlinekessai.html" target="_blank">オンライン決済<br>
                                    （サークルKサンクス・デイリーヤマザキ・ヤマザキデイリーストア・スリーエフ）</a><br>
                                     ※別リンク先は決済サービス対象外です。
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">商品代金以外の必要料金</th>
                                <td>
                                    ■送料<br>
                                     お客様負担とさせていただきます。<p></p>
                                    <p>■お支払い手数料につきまして<br>
                                     お客様負担とさせていただきます。<br>
                                    【コンビニ払い】<br>
                                    【銀行振込】ご利用の銀行によって異なります。</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">返品・キャンセルについて</th>
                                <td>
                                    届いた商品に不良品や破損があった場合は、必ず納品後7日以内にご連絡下さい。<br>
                                    ご連絡なきまま返品された場合、対応できない場合がございますのでご注意ください。<br>
                                    お客様都合での返品、交換は受け付けておりません。
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">返品・キャンセルの期限</th>
                                <td>
                                    配送による商品の破損や傷があった場合、納品から7日以内にご連絡頂ければ、対応させて頂きます。<br>
                                    商品画像は実際の商品と色や形が若干異なる場合がございます。イメージ違いでの返品はお受けしておりません。
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">返品・キャンセル時の送料</th>
                                <td>
                                    ■不良品、もしくは輸送中の事故による破損の場合 商品到着7日以内に当店指定の場所にご連絡の上、商品を当店まで着払いでご返送頂きます。<br>
                                    返品到着後、調査の上、折り返し良品をお送りいたします。（送料当店負担）<p></p>
                                    <p> ■お客様のご都合で返品される場合<br>
                                    商品到着後7日以内にご連絡の上、送料お客様負担で返送して下さい。</p>
                                    <p> ■返金について<br>
                                    商品返品確認後、入金を既にされているお客様にはご指定口座にご返金いたします。<br>
                                    ただし振込手数料、振替手数料は、お客様のご負担とさせていただきます。
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id= "payment-method" class="payment-method">
                   <h3>お支払い方法・配送方法・送料について</h3>
                    <h4>お支払い方法</h4>
                    <p>銀行振込でお支払い頂けます。<br>※【ご注文内容の確認】メール到着後、7日以内にお振込をお願い致します。<br>
                        お振込確認後、「正式受注」とさせて頂きます。<br>
                        <br>※振込み手数料はお客様のご負担でお願い致します。
                    </p>
                    <table id="table_type1" class="table_type1">
                        <tbody>
                            <tr>
                                <th class="w150">銀行名</th>
                                <td>三菱東京UFJ銀行</td>
                            </tr>
                            <tr>
                                <th>支店名</th>
                                <td>新宿中央支店</td>
                            </tr>
                            <tr>
                                <th>口座名義</th>
                                <td>マネジメントパートナーズ（カ</td>
                            </tr>
                            <tr>
                                <th>預金科目</th>
                                <td>普通</td>
                            </tr>
                            <tr>
                                <th>口座番号</th>
                                <td>5796759</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
 				<div id= "delivery-method" class="delivery-method">
                    <h4>配送方法・送料</h4>
                    <p>
                        ヤマト運輸（通常配送）での発送になります。
                    </p>
                    <table id="table_type2" class="table_type2">
                        <tbody>
                            <tr>
                                <td class="w300">地域</td>
                                <td class="w50">料金</td>
                            </tr>
                            <tr>
                                <td>【北海道】北海道</td>
                                <td>800円</td>
                            </tr>
                            <tr>
                                <td>
                                    【北東北】青森県・秋田県・岩手県<br>
                                    【南東北】山形県・宮城県・福島県
                                </td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>
                                    【信越】長野県・新潟県<br>
                                    【関東】東京都・茨城県・千葉県・神奈川県・山梨県・埼玉県・栃木県・群馬県
                                </td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>【北陸】富山県・石川県・福井県</td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>【東海】静岡県・愛知県・岐阜県・三重県</td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>【関西・四国】兵庫県・大阪府・奈良県京都府・滋賀県・和歌山県・愛媛県・香川県・高知県・徳島県</td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>【中国】山口県・広島県・岡山県・鳥取県・島根県</td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>【九州】福岡県・佐賀県・長崎県・大分県・宮崎県・鹿児島県</td>
                                <td>500円</td>
                            </tr>
                            <tr>
                                <td>【沖縄県全域】</td>
                                <td>800円</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- .entry-content -->
        </div><!-- #post-## -->
    </div>
</div>
{% endblock %}