{% set query = repository('Eccube\\Entity\\Product').createQueryBuilder('p').innerJoin('p.ProductTag','pt').innerJoin('pt.Tag','t').where('t.name = :tag').andWhere('p.Status = 1').setParameter('tag', 'ピックアップ').orderBy('p.create_date', 'DESC').addOrderBy('p.id', 'DESC').getQuery() %}
{% set products = query.getResult() %}

{% set count = products|length %}
{% if count == 0  %}
{% set count = 1 %}
{% endif %}
{% if count > 6  %}
{% set count = 6 %}
{% endif %}



{% extends 'default_frame.twig' %}

{% block stylesheet %}
<style>
.ec-layoutRole{
        padding: 0 !important;
    }
    .ec-layoutRole .ec-layoutRole__contents{
        max-width: 100%;
    }
    .top_mv{
        /*width: 100%;*/
        /*margin: 0 auto;*/
        background: url("{{ asset('assets/img/pick_up/pickup_main_bg.jpg') }}") no-repeat top center;
        background-size: cover;
        /*text-align: center;*/
        padding: 230px 0 320px 0;
    }
    .mv_logo_content{
        position: relative;
    }
    .mv_table{
        width: 84%;
        margin: 0 auto;
        max-width: 1024px;
        background: rgba(0,0,0,.69);
        width: 100%;
        text-align: center;
    }
    .mv_logo_content tr td{
        width: 50%;
        padding: 15px 0;
    }
    .mv_logo{
        width: 38%;
        height: auto;
    }
    .mv_logo_txt{
        font-size: 24px;
        line-height: 1;
        color: #fff;
        font-weight: normal;
        padding: 0;
        margin: 0;
        font-family: 'Sawarabi Mincho', sans-serif;
    }
    .customize_line{
        position: absolute;
        top: auto;
        bottom: 31%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .customize_line li{
        width: 20%;
        float: left;
        list-style-type: none;
    }
    .line_red,
    .line_blue,
    .line_yellow,
    .line_green,
    .line_purple{
        content: "";
        background: #811200;
        color: red;
        width: 100%;
        height: 5px;
    }
    .line_blue{
        background: #001cff;
    }
    .line_yellow{
        background: #a78000;
    }
    .line_green{
        background: #3a7300;
    }
    .line_purple{
        background: #690081;
    }
    .pickup_header_logo{
        width: 55%;
        height: auto;
    }
    .ec-footerRole{
        background: #292c27 !important;
    }
    .ec-footerTitle{
        background: rgba(0,0,0,.69) !important;
    }
    .arrow-up{
        border-bottom: 17px solid #594598 !important; 
    }
    .gift_seasonal .line_vertical{
        background: #d171f7;
    }
    .line_vertical {
        content: "";
        background: #0000ca;
        width: 4px;
        height: 100px;
        position: absolute;
        left: 20px;
        top: 0;
    }
    .pickup_seasonal{
        background: url("{{ asset('assets/img/pick_up/bg_pickup_seasonal.jpg') }}") no-repeat top center;
        background-size: cover; 
        margin: 30px 0;
        padding: 0 0 85px 0;
        text-align: center;
    }
    .pickup_seasonal .ec-role{
        padding: 80px 0 0 0;
    }
    .pickup_seasonal .online_subtitle{
        padding: 30px 0 15px 15px !important;
        margin: 0 30px 65px 30px !important;
    }
    .pickup_seasonal .online_subtitle_ttl_01,
    .pickup_seasonal .online_subtitle .all{
        color: #fff !important;
    }
    .pickup_seasonal .line_vertical{
        background: #ae0000;
    }
    .pickup_seasonal .line{
        margin-top: 6% !important;
        border-bottom: 1pt solid #fff;
    }
    .table_pickup{
        width: 100%;
        max-width: 1024px;
        margin: 50px auto 80px auto;
        text-align: center;
    }
    .table_pickup tr td{
        width: 25%;
    }
    .table_pickup tr td img{
        width: 93%;
    }
    .pickup_txt_01{
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        text-align: left;
        font-family: 'Sawarabi Mincho', sans-serif;
        display: inline-block;
    }
    .pickup_seasonal .online_subtitle_ttl_01{
        font-weight: normal !important;
        letter-spacing: 1px;
    }
    .pickup{
        padding: 0 30px !important;
    }
    #pickup_slick{
        width: 95%;
        margin: 0 auto;
    }
    .line{
        margin-top: 5% !important;
    }
    .online_subtitle{
        padding: 30px 0 15px 15px !important;
        margin: 0 0 40px 0 !important;
    }
    .clearfix:after{
    	height: 0;
    	display :block;
    	clear: both;
    	content: "";
    }
    .pickup .ec-newItemRole{
        padding: 0 !important;
    }
    /*slick_arrow*/
    .slick-prev{
        background: url("{{ asset('assets/img/slider_arrow_left.png') }}") no-repeat center left;
        background-size: 25px auto;
        left: -25px;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 32%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: 1px solid transparent;
        outline: 1px solid transparent;
    }
    .slick-next{
        background: url("{{ asset('assets/img/slider_arrow_right.png') }}") no-repeat center left;
        background-size: 25px auto;
        right: -25px;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 32%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: 1px solid transparent;
        outline: 1px solid transparent;
    }
    .ec-newItemRole .ec-newItemRole__listItem:nth-child(even),
    .ec-newItemRole .ec-newItemRole__listItem:nth-child(odd){
        margin: 0 10px;
    }
    .ec-newItemRole .ec-newItemRole__listItemPrice{
        color: #700101;
        font-weight: bold;
    }
    /*end of slick_arrow*/
 	 /*For SP*/
    @media only screen and (max-width: 767px){
        .top_mv{
            padding: 1.90rem 0 1.20rem 0;
        }
        .mv_table{
            max-width: 85%;
        }
        .mv_logo_txt{
            font-size: .24rem;
        }
        .line_red,
        .line_blue,
        .line_yellow,
        .line_green,
        .line_purple{
            height: .05rem;
        }
        .ec-role{
            font-size: .16rem;
        }
        .pickup_seasonal .ec-role{
            padding: .50rem 0 0 0;
        }
        .pickup_seasonal .online_subtitle{
            padding: .30rem 0 .15rem .15rem !important;
            margin: 0 .30rem .50rem .30rem !important;
        }
        .pickup_seasonal .line,
        .line{
            margin-top: .55rem !important;
        }
        .line_vertical {
            width: .04rem;
            height: 1.00rem;
            left: .20rem;
            top: -.08rem;
        }
        .table_pickup{
            margin: .30rem auto .80rem auto;
        }
        .pickup_txt_01{
            font-size: .16rem;
        }
        .pickup_seasonal{
            margin: .30rem 0;
            padding: 0 0 .85rem 0;
        }
        .online_subtitle{
            padding: .30rem 0 .15rem .15rem !important;
            margin: 0 0 .40rem 0 !important;
        }
        .pickup{
            padding: 0 .30rem !important;
        }
    }
    /*end of SP*/

    
</style>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/common_job.js') }}"></script>
   <script>
        $(function() {
            $('#pickup_slick').slick({
                slidesToShow: {{ count }},
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                arrows: true,
                infinite: true,
                responsive: [
                {
                    breakpoint: 980,
                    settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: false,
                    autoplaySpeed: 2000,
                  }
                },
                {
                    breakpoint: 769,
                    settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    autoplay: false,
                    autoplaySpeed: 2000
                  }
                }
              ]
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
<div class="pickup_seasonal">
        <div class="ec-role">
            <div class="custom_line">
                <hr class="line">
                <div class="line_vertical"></div>
            </div>
            <div class="online_subtitle">
                <h2 class="online_subtitle_ttl_01">PickUp</h2>
            </div>
        </div>
        <table class="table_pickup">
            <tr>
                <td>
                    <img src="{{ asset('assets/img/pick_up/img_pickup_seasonal_01.jpg') }}">
                </td>
                <td>
                    <img src="{{ asset('assets/img/pick_up/img_pickup_seasonal_02.jpg') }}">
                </td>
                <td>
                    <img src="{{ asset('assets/img/pick_up/img_pickup_seasonal_03.jpg') }}">
                </td>
                <td>
                    <img src="{{ asset('assets/img/pick_up/img_pickup_seasonal_04.jpg') }}">
                </td>
            </tr>
        </table>
        <p class="pickup_txt_01">
            この度の、DENSAKU PickUpは、ぐい吞みをご用意しました。<br>
            あなたのお気にいりをお探しください。
        </p>
    </div>
<div class="ec-role ec-sliderRole">
    <div class="custom_line">
        <div class="line"></div>
        <div class="line_vertical"></div>
    </div>
    <div class="ec-newItemRole main_slick pickup">
        <div class="online_subtitle">
            <h2 class="online_subtitle_ttl_01">商品一覧</h2>
            <a class="all" href="{{ url('user_data',{'route':'pick_up_all'}) }}">すべて見る
                <img class="icon_arrow_right" src="{{ asset('assets/img/icon_arrow_right.png') }}" width="20" height="auto">
            </a>
        </div>
        <div class="ec-newItemRole__list" id="pickup_slick">
            {% for product in products %}
			<div class="ec-newItemRole__listItem slick-slide">
				<a href="{{ url('product_detail', {'id': product.id}) }}">
				    <div class="slide_image">
					    <img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}">
					</div>
					<p class="ec-newItemRole__listItemTitle">{{ product.name }}</p>
					<p class="ec-newItemRole__listItemPrice">
					    {% if product.hasProductClass %}
                            {% if product.getPrice02Min == product.getPrice02Max %}
                                {{ product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ product.getPrice02IncTaxMin|price }} ～ {{ product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ product.getPrice02IncTaxMin|price }}
                        {% endif %}
					    (税込)
					</p>
				</a>
			</div>
			{% endfor %}
        </div>
    </div>
</div>
{% endblock %}