{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .privacy_box h5{
        font-weight: bold;
    }
    .ec-privacy h3{
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 10px;
        
        background-color: #f8f8f8;
        margin-top: 10px;
    }
   .privacy_box, .privacy_box2{
        padding: 0 20px;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .privacy_box p{
        margin: 15px 0;
    }
    
    .privacy_box2 p{
       padding-left: 20px;
        line-height: 1.5;
    }
    .privacy_box2 li{
        margin-bottom: 5px;
        line-height: 1.5;
    }
    .privacy_box2 h5{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .signature, .signature_box{
        display: inline-block;
        float: right;
    }
    .signature_box .signature{
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    h5{
        font-weight: bold;
    }
    .privacy_box2 ul{
        margin-bottom: 25px;
    }
    h6{
       font-size: 14px;
       padding-left: 10px;
       font-weight: bold;
    }
    .indent1{
        margin-bottom: 10px;
    }
    .red{
        color: #9a0330;
    }
    .indent2{
        margin-bottom: 20px;
    }
@media only screen and (max-width: 767px){
        .ec-layoutRole__contents{
            margin-top: 1rem ;
        }
        .ec-privacy{
            font-size: .14rem;
        }
        .h1, .h2, .h3, h1, h2, h3 {
            margin-top: .2rem;
            margin-bottom: .1rem;
        }
        .ec-privacy h2{
            margin: .2rem;
            font-size: .3rem;
        }
        .ec-privacy h3 {
            font-size: .24rem;
            padding: .1rem;
            margin: .2rem;
            margin-bottom: .15rem;
        }
        .privacy_box, .privacy_box2 {
            font-size: .14rem;
            padding: 0 .3rem;
            margin: 0;
        }
        .privacy_box p{
            margin: .15rem 0;
        }
        .privacy_box2 p{
            padding-left: .2rem;
        }
        .ec-privacy h5{
            font-size: .14rem;
        }
        .ec-privacy h6{
            font-size: .12rem;
            padding-left: .1rem;
            margin-top: .1rem;
            margin-bottom: .1rem;
        }
        .privacy_box2 ul{
            margin-bottom: .25rem;
        }
        .privacy_box2 li{
            margin-bottom: .05rem;
        }
        .privacy_box2 h5{
            margin-top: .1rem;
            margin-bottom: .1rem;
        }
        .indent1, .indent2{
            margin-bottom: .1rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-privacy{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-privacy">
    <div id="main2">
        <h2>プライバシーポリシー</h2>
        <div id="post-27" class="post-27 page type-page status-publish hentry">
            <div class="entry-content">
                <h3>個人情報保護方針</h3>
                <div class="privacy_box">
                    <h5>1.法令・規範の順守</h5>
                    <p>
                    当社は個人情報保護に関して適用される法令、国が定める指針その他の規範を順守し、当社が保有する個人情報の保護に努めます。
                    </p>
                    <h5>2.個人情報の取得、利用、提供</h5>
                    <p>
                    当社は、個人情報の利用目的を明確に定め、その目的達成のために必要な範囲で、公正かつ適正な手段により適切な個人情報の取得、利用を行います。
                    </p>
                    <h5>3.個人情報の管理</h5>
                    <p>
                    当社が保有する個人情報の漏えい、滅失 又は き損等の防止に努め、厳正管理のもとで安全に蓄積、保管します。また、万一の発生時には速やかな是正措置を講じます。
                    </p>
                    <h5>4.個人情報の外部委託</h5>
                    <p>
                    個人情報の処理を外部に委託する場合には、漏えいや目的外利用を行わないように契約を義務付け、厳重な管理、指導を行います。
                    </p>
                    <h5>5.個人情報の開示・訂正・利用停止</h5>
                    <p>
                    当社の保有する個人情報について、本人から開示・訂正・利用停止などの要求 および 問い合わせ 又は 苦情 および 相談があった場合には、適正に対応します。
                    </p>
                    <h5>6.個人情報に対する社内体制</h5>
                    <p>
                    個人情報保護のために社内体制を整備し継続的な改善を行います。
                    </p>
                    <div class="signature_box">
                        <p class="signature">
                        施行　平成24年7月1日<br><br>
                        マネジメントパートナーズ株式会社<br>
                        代表取締役　野澤 優治
                        </p>
                    </div>
                </div>
                <h3>個人情報の取り扱いについて</h3>
                <div class="privacy_box2">
                    <h5>1.個人情報の利用目的</h5>
                    <p>
                    マネジメントパートナーズ株式会社（以下「当社」と言います）は、お客様個人を識別する基本情報として、お客様のお名前・ご住所・お電話番号・ 生年月日・メールアドレスなどの個人情報 および 当社とのお取引状況などの情報を以下の目的で利用いたします。
                    </p>
                    <ul>
                    <li>1.当社および当社関係会社の商品の発送、カタログやDMの送付、関連するアフターサービス、新商品、サービスなどの各種情報を提供させていただくため。
                    </li>
                    <li>2.当社および当社関係会社の行う事業に関するアンケート調査、その他の関連するお得な情報を提供させていただくため。
                    </li>
                    <li>3.当社が適正と定めた企業のカタログやDM、試供品などの送付のため。
                    </li>
                    <li>4.当社 および 当社関係会社とのお取引に関する与信管理、回収管理、債権管理のため。
                    </li>
                    <li>5.当社に委託された受注・出荷サービスなどを行うため。
                    </li>
                    <li>6.お客様からのお問い合わせに対して回答を行うため。
                    </li>
                    <li>7.上記1～6以外の利用目的で使用する場合は個別に利用目的をお知らせします。
                    </li>
                    </ul>
                    <h5>2.個人情報の提供</h5>
                    <p>
                    当社および当社関係会社がお客様から取得させていただいた個人情報は、下記のいずれかに該当する場合を除き、第三者に提供、開示などをすることはありません。
                    </p>
                    <ul>
                    <li>
                    1.法令などに基づく場合。
                    </li>
                    <li>
                    2.お客様の事前の承認、同意を得た場合。
                    </li>
                    <li>
                    3.お客様および第三者の生命、身体、財産など公共の利益またはお客様の利益のため必要であると判断した場合。
                    </li>
                    <li>
                    4.当社および当社関係会社が合併、分社化、営業譲渡により事業が継承され個人情報を引き継ぐ場合。
                    </li>
                    </ul>
                    <h5>3.個人情報の共同利用</h5>
                    <p>
                    当社は、インターネット・電話・ハガキ・FAXなどでの各種申込みおよびウェブサイト・メールなどで取得した個人情報を当社関係会社と共同で利用させていただきます。
                    </p>
                    <h5>4.個人情報の委託</h5>
                    <p>
                    当社および当社関係会社がお客様から取得させていただいた個人情報は、個人情報の保護に関する契約を締結している業務委託会社に委託することがあります。お客様に明示した利用目的の達成に必要な範囲で個人情報の取り扱いを委託する場合を除き委託をすることはありません。
                    </p>
                    <h5>5.個人情報の開示・訂正・利用停止</h5>
                    <p class="indent1">
                    1.お客様ご本人、またはご本人が認めた代理人のお申し出により、保有しているお客様の個人情報を開示いたします。ただし、下記のいずれかに該当する場合は開示できません。
                    </p>
                    <ul>
                    <li>
                    （1）お客様および第三者の権利利益を害するおそれがある時。
                    </li>
                    <li>
                    （2）当社および当社関係会社の業務運営に著しい支障をきたすおそれのある時。
                    </li>
                    <li>
                    （3）他の法令に違反するおそれがある時、など。
                    </li>
                    </ul>
                    <p class="indent1">
                    2.お客様に開示した個人情報に誤りがあった場合は、速やかに訂正を行ないます。
                    </p>
                    <p class="indent1">
                    3.お客様ご本人、またはご本人が認めた代理人より、個人情報の利用停止のお申し出があった場合は、当社および当社関係会社での利用を速やかに中止いたします。
                    </p>
                    <p class="indent1">
                    4.お客様からの開示請求にあたり、手数料として別途実費を請求させていただく場合があります。
                    </p>
                    <p class="indent1">
                    5.お客様からの開示請求にあたり、ご本人を証明する公的な身分証明書（運転免許証、保険証、パスポート、住民票など）の写しが必要です。
                    </p>
                    <p class="red">※個人情報に関するご相談・開示などの手続きについては、「7.お問い合わせ」までお問い合わせください。
                    </p>
                    <h5>6.その他</h5>
                    <h6>1.Cookieについて</h6>
                    <p class="indent2">
                    お客様が本サイトをご利用する過程で、サイト運営のためにお客様の「Cookie情報」を取得する場合があります。 「Cookie情報」とは、お客様が当社のウェブサイトを再度訪問されたときなどに、より便利にご利用いただくため（お気に入りリストの情報を保管する機能などを提供）、お客様がご使用のコンピュータを識別するデータのことです。 お客様がご使用になるインターネット閲覧ソフト（ブラウザ）の設定を変更することにより、Cookie拒否するように設定することもできますが、その場合当社ウェブサイト、またはウェブサイトにおけるサービスを正常にご利用頂けない場合がございますので、予めご了承ください。
                    </p>
                    {# <h6>2.Webビーコンについて</h6>
                    <p class="indent2">
                    当社のウェブサイトには、Webビーコン（「クリアGIF」と呼ばれることもあります。）を使用しているページがあります。 Webビーコンとは、特定のページに何回のアクセスが行われたかを知るための技術のことです。 当社はウェブサイトの利用状況に関する統計をとり、ウェブページをはじめ、製品やサービスをより良いものに改善することを目的としてWebビーコンを使用しています。 Webビーコンを用いて取得された情報には、個人を特定するような情報は一切含まれておりません。
                    </p> #}
                    <h6>2.SSLについて</h6>
                    <p class="indent2">
                    SSLとは、情報を暗号化することで、データの盗聴や改ざんを防止して送受信する機能のことです。 当社ウェブサイトでは、会員登録やアンケート回答の際など個人情報が送受信されるページにおいて、SSLによる暗号化通信を使用し、お客様の個人情報が外部の第三者に通信傍受できないよう対策を行っています。
                    </p>
                    <ul>
                    <li>・お客様の個人情報はお客様ご自身の意志で提供いただくようお願いいたします。ただし、ご提供いただけない情報がある場合、商品の発送、カタログやDMの送付などのサービスがご利用いただけない場合があります。</li>
                    <li>・ご注文、お問い合わせの電話対応品質向上、正確な内容把握のため、お客様との通話を録音させていただく場合があります。</li>
                    </ul>
                    <h5>7.お問い合わせ</h5>
                    <p>
                    お客さまから提供いただいた個人情報に関して、照会・訂正または削除をご希望される場合、および当社のプライバシーポリシーに関するお問い合わせは、下記担当までお願い致します。
                    </p>
                    <div class="signature_box">
                        <p class="signature">
                        マネジメントパートナーズ株式会社 運営管理部<br>
                        〒163-0713<br>
                        東京都新宿区西新宿2-7-1<br>
                        小田急第一生命ビル13F<br>
                        TEL：03-6911-3025<br>
                        E-mail：<a onclick="javascript:pageTracker._trackPageview('/mailto/info@den-saku.com');" href="mailto:mail@management-partners.co.jp">info@den-saku.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</div>
{% endblock %}