{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-publication h3 {
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    background-color: #f8f8f8;
	    margin-top: 30px;
	    margin-bottom: 20px;
		margin-right: 20px;
	    font-weight: bold;
	    color: #DE5D50;
	    border-left: 5px solid #DE5D50;
	}
	.ec-publication h5{
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    
	    background-color: #f8f8f8;
	    border-left: 5px solid #DE5D50;
	    color: #DE5D50;
	}
	.publication_table{
		width: 100%;
	    padding: 0;
	    margin: 10px 0 25px 0;
	    font-size: 14px;
	}
	.publication_table p{
		line-height: 1.5;
	}
	.publication_table th {
	    vertical-align: top;
	    font-weight: bold;
	    padding: 20px 10px 20px 0px;
	}
	.publication_table td {
	    padding: 10px 10px 10px 0px;
	}
	.publication_table td li{
		list-style: none;
	}
	.info_text{
		margin-left: 85px;
		margin-bottom: 30px;
	}
	.posted_img_table {
	    width: 60%;
	    background-color: #f8f8f8;
	    border: 1px solid #ccc;
	    margin-bottom: 10px;
	    margin-top: 20px;
	    font-size: 14px;
	}
	.posted_img_table th, .posted_img_table td {
	    vertical-align: middle;
	    padding: 10px;
	}
	.posted_img_table th {
	    font-weight: bold;
	    border: 1px solid #ccc;
	    background-color: #DE5D50;
	    color: #fff;
	}
	.posted_img_table td {
	    border: 1px solid #ccc;
	}
@media only screen and (max-width: 767px){
		.ec-publication{
			margin: .2rem;
			margin-top: 0;
		}
	    .ec-publication h3 {
		    padding: .1rem;
		    margin-top: .3rem;
		    margin-bottom: .2rem;
		    margin-right: 0;
		    font-size: .24rem;
		}
		.ec-publication h5{
		    padding: .1rem;
		    margin-right: 0;
		    font-size: .14rem;
		}
		.publication_table{
		    padding: 0;
		    margin: .1rem 0 .25rem 0;
		    font-size: .14rem;
		}
		.publication_table th {
		    padding: .2rem .1rem .2rem 0;
		}
		.publication_table td {
		    padding: .1rem .1rem .1rem 0;
		}
		.info_text{
			margin-left: .85rem;
			margin-bottom: .3rem;
			font-size: .14rem;
		}
		.posted_img_table {
			width: 100%;
		    margin-bottom: .1rem;
		    margin-top: .2rem;
		    font-size: .14rem;
		}
		.posted_img_table th, .posted_img_table td {
		    padding: .1rem;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-publication{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-publication">
	<div id="main2">
		<div id="post-29" class="post-29 page type-page status-publish hentry">
			<div class="entry-content">
				<h3>掲載について</h3>
				<table class="publication_table">
					<tbody>
						<tr>
							<th>ポイント1</th>
							<td>
								<p>
									豊富な画像で魅力的にＰＲ<br>
									最大10枚の画像を掲載できるので、魅力やこだわりを視覚的に伝えられます。<br>
									また、画像は変更可能です。
								</p>
							</td>
						</tr>
						<tr>
							<th>ポイント2</th>
							<td>
								<p>
									簡易版ホームページとして<br>
									ホームページをお持ちでない事業所様は、簡易版ホームページとしてご活用頂けます。
								</p>
							</td>
						</tr>
						<tr>
							<th>ポイント3</th>
							<td>
								<p>
									ＰＲしたい情報をリアルタイムで掲載<br>
									概要や経歴は勿論、展示会や即売会情報など、今伝えたい情報をご自身でいつでも掲載できます。
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="info_text">登録した情報は、インターネット上で当ホームページよりログイン後、いつでも修正することができます。</p>
				<h5>掲載イメージ</h5>
				<table class="posted_img_table">
	                <tbody>
	                    <tr>
	                        <th>詳細情報</th>
	                        <td>上段：タイトル（最大全角20文字）、内容（最大全角16,777,215 文字）<br>
								下段：タイトル（最大全角20文字）、内容（最大全角16,777,215 文字）<br>
								※伝索外部へのリンク及びURLの記載は禁止とさせて頂いております。
							</td>
	                    </tr>
	                    <tr>
	                        <th>基本情報</th>
	                        <td>商号、設立、住所、従業員数、取扱品目、メールアドレス　可能な限り</td>
	                    </tr>
	                    <tr>
	                        <th>紹介画像</th>
	                        <td>2枚まで<br>
								掲載サイズ目安（300×300pix）
							</td>
	                    </tr>
	                    <tr>
	                        <th>一覧画像</th>
	                        <td>8枚まで<br>
								掲載サイズ目安（200×200pix）
							</td>
	                    </tr>
	                </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
