{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
   .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-sitepolicy h2{
        font-weight: bold;
        margin-bottom: 15px;
    }
    .ec-sitepolicy h5{
        border-bottom: 1px dotted #ddd;
        border-top: 1px dotted #ddd;
        padding: 5px;
      
        background-color: #f8f8f8;
        margin-top: 10px;
        border-left: 5px solid #ddd;
        font-weight: bold;
        margin-bottom: 15px;
    } 
    .ec-sitepolicy p{
        line-height: 1.5;
    }
    .sitepolicy_entry_block{
        display: block;
        margin-bottom: 30px;
    }
    .sitepolicy_entry_block p{
        font-size: 14px;
        line-height: 1.5;
        padding-left: 10px;
    }
    .indent1{
    	margin-top: 20px;
    }
    .indent1 span{
    	font-weight: bold;
    }
@media only screen and (max-width: 767px){
        .ec-sitepolicy{
            padding: 0 .2rem;
        }
        .ec-sitepolicy h2{
            margin-bottom: .15rem;
            font-size: .3rem;
        }
        .ec-sitepolicy h5{
            padding: .05rem;
            margin-right: 0;
            margin-top: .1rem;
            margin-bottom: .15rem;
        } 
        .ec-sitepolicy p {
            font-size: .14rem;
        }
        .sitepolicy_entry_block{
            margin-bottom: .3rem;
        }
        .sitepolicy_entry_block p{
            font-size: .14rem;
            padding-left: 0;
        }
        .indent1{
            margin-top: .2rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-sitepolicy{
            width: 95%;
            margin: 0 auto;
        }
        .ec-sitepolicy h5{
            margin-right: 0;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-sitepolicy">
    <div id="main2">
        <h2>サイトポリシー</h2>
        <p>
        	このウェブサイトはマネジメントパートナーズ株式会社が運営しております。<br>
			このウェブサイトを利用される際には、以下の各事項をご了承くださいますようお願い申し上げます。<br>
			また、当社は、このウェブサイトのご利用条件を変更することがあります。<br>
			その際にはこの文章の改訂版を掲載することと致しますので、最新の内容をご確認いただきますよう、お願い申し上げます。
        </p>
        <div id="post-27" class="post-27 page type-page status-publish hentry">
            <div class="entry-content">
                <div class="sitepolicy_entry_block">
                    <h5>著作権について</h5>
                    <p>
                        当社のホームページ上の一切のコンテンツ、著作物（文書、資料など）に係る著作権その他の権利は当社及び情報提供者に帰属します。<br>
						これらのコンテンツ、著作物は、日本の著作権法、条約及び他国の著作権法にいう著作権により保護されており、私的利用の範囲を超えて利用することはできません。<sbr>
						また、権利者の許可なく改変、複製、賃貸、貸与、販売、出版、送信、放送等、方法の如何を問わず第三者の利用に供することを固く禁じます。<br>
						但し、個々の著作物に個別の利用条件が付されている場合は、当該条件が優先されます。
                    </p>
                </div>
                <div class="sitepolicy_entry_block">
                    <h5>商標について</h5>
                    <p>
                        当社のウェブサイトに掲載している会社名、サービス名、製品名などはいずれも当社あるいは各企業、団体の商標または登録商標です。<br>
						当社のホームページでは説明の便宜上、その商品名、団体名などを記載する場合がありますが、それらの商標権の侵害を行なう意志や目的はありません。
                    </p>
                </div>
                <div class="sitepolicy_entry_block">
                    <h5>免責事項</h5>
                    <p>
                        1.当社は、このウェブサイトに情報を掲載するにあたり、十分に検討・確認作業を行なっておりますが、その内容に関し、その正確性、有用性、確実性、安全性、特定目的に対する合目的性その他いかなる保障もするものではありません。<br>
						コンテンツ等のご利用により、万一何らかの損害が発生したとしても、当社は一切責任を負いません。<br><br>

						2.当社は、ウェブサイトの構成、利用条件、URLおよびコンテンツ等を、予告なしに変更または中止し、あるいはウェブサイトの運営を予告なしに中断または中止することがあります。<br>
						なお、当社は理由の如何に関わらず、これらの変更及びこのウェブサイトの運用の中断または中止によって生じるいかなる損害についても責任を負うものではありません。<br><br>

						3.このウェブサイトから、もしくはこのウェブサイトにリンクを張っている当社以外の第三者のウェブサイト（以下「リンクサイト」と称します）の内容は、それぞれ各社の責任で管理されるものであり、当社の管理下にあるものではありません。<br>
						また、当社とリンクサイトとの間に提携などの特別な関係があるということを意味するものではありません。<br>
						当社は、リンクサイトの内容について、また、それらのご利用により生じたいかなる損害についても責任を負いません。
                    </p>
                </div>
                <div class="sitepolicy_entry_block">
                    <h5>文字列の翻訳に関する制限</h5>
                    <p>
                       ・自動翻訳機能を使用している為、正しく翻訳されないことがあります。<br>
                       ・当該部分が文字列と認識され、無意味な文字列（記号列など）が出力されることがあります。<br>
                       ・周囲を完全に囲まれていない文字列は、翻訳されることがあります。
                    </p>
                </div>
                <div class="sitepolicy_entry_block">
                    <h5>推奨環境</h5>
                    <p>
                        マネジメントパートナーズ株式会社では以下の ブラウザが推奨動作環境となっております。<br>
						これ以外の環境ですと適正に表示されない場合が有ります。
                    </p>
                    <p class="indent1">
						<span>ブラウザ</span><br>
						Internet Explorer 11 or later<br>
					 	FireFox latest<br>
					 	Google Chrome latest
					</p>
					<p class="indent1">
						<span>ブラウザ設定</span><br>
						JavaScript 有効許可<br>
						Cookie 受取許可
					</p>
                </div> 
            </div>
        </div>  
    </div>
</div>
{% endblock %}