{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
    .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-use h3 {
	    border-bottom: 1px dotted #ddd;
	    border-top: 1px dotted #ddd;
	    padding: 10px;
	    background-color: #f8f8f8;
	    margin-top: 30px;
	    margin-bottom: 20px;
	    font-weight: bold;
	    color: #DE5D50;
	}
	.use_table{
		width: 100%;
	    padding: 0;
	    margin: 10px 0 25px 0;
	}
	.use_table th {
	    vertical-align: top;
	    font-weight: bold;
	    border: 1px solid #ccc;
	    padding: 20px 10px;
	    background-color: #DE5D50;
    	color: #fff;
	}
	.use_table td {
	    border: 1px solid #ccc;
	    padding: 20px 10px;
	    line-height: 1.5;
	}
	.use_table td li{
		list-style: none;
	}
	.use_table .payment_row td{
		border-bottom: none;
	}
	.use_table .payment_method{
		border-top: none;
	}
	.transfer_method_table{
	    width: 60%;
	    background-color: #f8f8f8;
	    border: 1px solid #ccc;
	    margin-bottom: 10px;
	}
	.transfer_method_table th, .transfer_method_table td{
		vertical-align: middle;
		padding: 10px;
	}
@media only screen and (max-width: 767px){
		.ec-use{
			margin: .2rem;
			margin-top: .1rem;
		}
		.ec-use h3 {
		    padding: .1rem;
		    margin-top: .3rem;
		    margin-bottom: .2rem;
		    font-size: .24rem;
		}
		.use_table{
		    margin: .1rem 0 .25rem 0;
		    font-size: .14rem;
		}
		.use_table th {
		    padding: .2rem .1rem;
		}
		.use_table td {
		    padding: .2rem .1rem;
		}
		.transfer_method_table{
		    margin-bottom: .1rem;
		}
		.transfer_method_table th, .transfer_method_table td{
			padding: .1rem;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-use{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
<script>
$( document ).ready(function() {
      var hashcode = window.location.hash;
      $('html,body').animate({scrollTop: $('div#'+hascode).offset().top},'slow');
});
</script>  
{% endblock %}
{% block main %}
<div class="ec-use">
	<div id="main2">
		<div id="post-29" class="post-29 page type-page status-publish hentry">
			<div class="entry-content">
				<h3>特定商取引法に基づく表記</h3>
				<table class="use_table">
					<tbody>
						<tr>
							<th>販売業者</th>
							<td>マネジメントパートナーズ株式会社</td>
						</tr>
						<tr>
							<th>運営統括責任者名</th>
							<td>代表取締役社長 野澤 優治</td>
						</tr>
						<tr>
							<th>住所</th>
							<td>〒163-0713<br>
								東京都新宿区西新宿2-7-1 小田急第一生命ビル13F
							</td>
						</tr>
						{# <tr>
							<th>住所</th>
							<td>「お支払い配送料について」のヤマトの表</td>
						</tr> #}
						<tr>
							<th>商品代金以外の料金の説明</th>
							<td><a href="/user_data/pay#table_type2" target="_blank">お支払い配送料について</a></td>
						</tr>
						<tr>
							<th>引渡し時期</th>
							<td>■正式受注後（ご入金確認）最短で発送致します。<br>
								■受注生産品は注文から2か月以内に発送いたします。<br>
								■目安としては通常2～7日で商品を発送させて頂きます。<br>
								※地域や道路状況、その他不測の事態によって変動する場合がございますので、ご了承ください。<br>※商品によって注文が集中した場合、発送にお時間をいただくことがございます。<br>
								※納期のかかるものにつきましては、別途ご案内いたします。
							</td>
						</tr>
						<tr class="payment_row">
							<th rowspan="2">お支払い方法</th>
							<td><ul>
									<li style="float:left; width:150px;">
										<span style="margin-bottom: 20px; display: inline-block;">VISA</span><br>
										<img src="/html/template/default/assets/img/common/logo_visa.gif" width="95" height="95">
									</li>
									<li style="float:left; width:150px;">
										<span style="margin-bottom: 20px; display: inline-block;">MASTER</span><br>
										<img src="/html/template/default/assets/img/common/logo_master.gif" width="95" height="95">
									</li>
									<li style="float:left; width:150px;">
										<span style="margin-bottom: 20px; display: inline-block;">DINERS</span><br>
										<img src="/html/template/default/assets/img/common/logo_diners.gif" width="95" height="95">
									</li>
									<li style="float:left; width:150px;">
										<span style="margin-bottom: 20px; display: inline-block;">JCB</span><br>
										<img src="/html/template/default/assets/img/common/logo_jcb.gif" width="95" height="95">
									</li>
									<li style="float:left; width:150px;">
										<span style="margin-bottom: 20px; display: inline-block;">AMEX</span><br>
										<img src="/html/template/default/assets/img/common/logo_ae.gif" width="95" height="95">
									</li>
								</ul></td>
						</tr>
						<tr>
							<td class="payment_method">
								<h5>※振込み手数料はお客様のご負担でお願い致します。</h5>
		                        <table class="transfer_method_table">
					                <tbody>
					                    <tr>
					                        <th class="w150">銀行名</th>
					                        <td>三菱UFJ銀行</td>
					                    </tr>
					                    <tr>
					                        <th>支店名</th>
					                        <td>新宿中央支店</td>
					                    </tr>
					                    <tr>
					                        <th>口座名義</th>
					                        <td>マネジメントパートナーズ（カ</td>
					                    </tr>
					                    <tr>
					                        <th>預金科目</th>
					                        <td>普通</td>
					                    </tr>
					                    <tr>
					                        <th>口座番号</th>
					                        <td>5796759</td>
					                    </tr>
					                </tbody>
					            </table>
					            <p>
					            	『カード決済』はクレジットカード決済代行のGMOイプシロン株式会社 の決済代行サービス を利用しております。<br>
					            	ご注文後、イプシロン決済画面へ移動いたしますので決済を完了させてください。<br>安心してお支払いをしていただくために、お客様の情報がイプシロンサイト経由で送信される際にはSSL(128bit)による暗号化通信で行い、クレジットカード情報は当サイトでは保有せず、同社で厳重に管理しております。
					            </p>
							</td>	
						</tr>
						<tr>
							<th>お支払期限<br>（時期）</th>
							<td>■クレジット決済　ご利用のカード会社ごとに異なります<br>
								■銀行振込　　　　注文日より７日以内<br>
								※銀行振込をお選びの方へ<br>支払期日を過ぎた時点で自動キャンセルさせて頂きます。<br>
								尚、キャンセル商品をご希望の場合、再度ご注文ください。 
							</td>
						</tr>
						<tr>
							<th>返品期限</th>
							<td>届いた商品に不良品や破損があった場合は、必ず納品後7日以内にご連絡下さい。<br>
								ご連絡なきまま返品された場合、対応できない場合がございますのでご注意ください。<br>
								お客様都合での返品、交換は受け付けておりません。 
							</td>
						</tr>
						<tr>
							<th>返品送料</th>
							<td>■不良品、もしくは輸送中の事故による破損の場合 商品到着7日以内に当店指定の場所にご連絡の上、
								商品を当店まで着払いでご返送頂きます。<br>
								返品到着後、調査の上、折り返し良品をお送りいたします。（送料当店負担）<br>
								■お客様のご都合で返品される場合<br>
								商品到着後7日以内にご連絡の上、送料お客様負担で返送して下さい。<br>
								■返金について<br>
								商品返品確認後、入金を既にされているお客様にはご指定口座にご返金いたします。<br>
								ただし振込手数料、振替手数料は、お客様のご負担とさせていただきます。
							</td>
						</tr>
						<tr>
							<th>屋号またはサービス名</th>
							<td>伝索</td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td>03-6911-3025</td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td>info@den-saku.com</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
