{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
   .ec-layoutRole__contents{
        margin-top: 100px ;
    }
    .ec-links h2{
        font-weight: bold;
    }
    .ec-links h5{
        border-bottom: 1px dotted #ddd;
        border-top: 1px dotted #ddd;
        padding: 5px;
       
        background-color: #f8f8f8;
        margin-top: 10px;
        border-left: 5px solid #ddd;
        font-weight: bold;
    } 
    .links_entry_block{
        display: block;
        margin-bottom: 30px;
    }
    .links_entry_block p{
        font-size: 14px;
        line-height: 1.5;
        padding-left: 10px;
        margin-top: 15px;
    }
    .img_links_block{
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .img_links_block img{
        width: 200px;
        margin-right: 25px;
    }
@media only screen and (max-width: 767px){
        .ec-links h2 {
            font-size: .3rem;
            margin: .2rem;
        }
        .ec-links h5 {
            padding: .05rem;
            margin-right: 0;
            margin-top: .1rem;
            font-size: .14rem;
        }
        .links_entry_block {
            margin: .2rem;
            margin-bottom: .3rem;
            font-size: .14rem;
        }
        .links_entry_block p {
            font-size: .14rem;
            padding-left: .1rem;
            margin-top: .15rem;
        }
        .img_links_block{
            width: 100%;
            padding: .1rem;
            margin-bottom: .3rem;
        }
        .img_links_block img {
            margin-right: .25rem;
            width: calc(83.5% / 3) !important;
        }
        .img_links_block img:first-child {
            margin-left: .2rem;
        }
        .img_links_block img:last-child {
            margin-right: 0;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-links{
            width: 95%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block javascript %}
   
{% endblock %}
{% block main %}
<div class="ec-links">
    <div id="main2">
        <h2>リンクについて</h2>
        <div id="post-27" class="post-27 page type-page status-publish hentry">
            <div class="entry-content">
                <div class="links_entry_block">
                    <h5>リンクについて</h5>
                    <p>
                        本ウェブサイトへのリンクをご検討いただき、ありがとうございます。<br>
                        営利、非営利、イントラネットを問わず、以下の「免責およびリンク設定条件」に同意のうえ、「リンクの設定方法」に従って頂ければリンクしていただけます。<br>
                        なお、編集・更新の都合により、サイト内の各ページは予告なく変更・削除されることがあります。<br>
                        また、アクセス認証を求められる場合があります。<br>
                        リンクを設定いただいても、短期間でリンク切れとなる可能性もありますので、あらかじめご了承ください。<br>
                        当社へのリンクに際してのご連絡は不要です。
                    </p>
                </div>
                <div class="links_entry_block">
                    <h5>免責およびリンク設定条件</h5>
                    <p>
                        リンクによって発生したトラブルや損害賠償問題等につき、当社は何ら責任を負いません。<br>
                        リンクされた方の責任で処理してください。なお、以下に該当するウェブサイトからのリンクはお断りいたします。<br>

                        ・当社または当社グループ会社、それらの役員または社員を誹謗・中傷するウェブサイト<br>
                        ・当社または当社グループ会社のサービスを誹謗・中傷するウェブサイト<br>
                        ・違法である可能性のある情報を提供するウェブサイト<br>
                        ・猥褻あるいは社会倫理に反する可能性のある情報を提供するウェブサイト<br>
                        ・独自のフレーム内に本ウェブサイトを取り込んだ形など、当社ウェブサイトであることが不明確となるウェブサイト
                    </p>
                </div>
                <div class="links_entry_block">
                    <h5>リンク設定条件</h5>
                    <p>
                        本ウェブサイトへのリンク方法は、以下に示す方法に従ってください。<br>
                        ただし、ご覧のページでリンクの設定方法に関しての指定がある場合はそれに従ってください。<br>
                        なお、リンクは予告なしに変更・削除されることがあります。<br>
                    </p>
                </div>
                <div class="links_entry_block">
                    <h5>リンク用の画像</h5>
                    <p>
                       伝索（デンサク）のトップページ（//www.den-saku.com/）にリンクを張る際のリンクボタンは、下記の画像をご利用ください。<br> 
                       {# 伝索ロゴ 200×40 GIF<br> #}
                       {# ・画像サイズ（88 x 31px）<br> #}
                       {# 伝索ロゴ 88×31 GIF #}
                    </p>
                </div>
                <div class="img_links_block">
                    <img src="/html/template/default/assets/img/common/link_img_01.png">
                    <img src="/html/template/default/assets/img/common/link_img_02.png">
                    <img src="/html/template/default/assets/img/common/link_img_03.png">
                </div>
                <div class="links_entry_block">
                    <h5>リンクボタン使用ガイドライン</h5>
                    <p>
                        伝索（デンサク）のリンクボタンは、以下のガイドラインに従ってお使いください。<br>
                        本サイト上のリンクボタン画像へ直接リンクしないでください。リンクボタン画像はダウンロードしてから、ご自分のサイトに保存してお使いください。<br>
                        リンクボタン画像のサイズ変更や加工はしないでください。<br>
                        リンクボタンは伝索（デンサク）のトップページ（//www.den-saku.com）へのリンク以外の目的では使用しないでください。<br>
                    </p>
                </div> 
                <div class="links_entry_block">
                    <h5>サイトポリシー</h5>
                    <p>
                       伝索（デンサク）をご利用いただくにあたってご注意いただきたいことを記載しています。[
                       <a href="/user_data/sitepolicy">詳細</a>] 
                    </p>
                </div>
                <div class="links_entry_block">
                    <h5>著作権について</h5>
                    <p>
                        伝索（デンサク）に掲載している記事・写真・イラスト・動画などの著作物は、日本の著作権法及びベルヌ条約などの国際条約により、著作権の保護を受けています。[
                        <a href="/user_data/sitepolicy">詳細</a>]
                    </p>
                </div>
                <div class="links_entry_block">
                    <h5>クッキーについて</h5>
                    <p>
                        伝索（デンサク）がクッキーとして送るテキストファイルには、個人を特定するような情報は含んでいません。[
                        <a href="/user_data/privacy">詳細</a>]
                    </p>
                </div>  
                <div class="links_entry_block">
                    <h5>個人情報保護方針</h5>
                    <p>
                        伝索（デンサク）は、「個人情報保護方針」を定めています。[
                        <a href="/user_data/privacy">詳細</a>]
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}